<div id="re_rules_empty" style="<%= re_pipeline.re_rules.empty? ?  '' : 'display:none' %>">
  <div class="re-redbox-header"><h4 class="white">No Pipeline Rules</h4></div>   
  <div class="re-redbox no-top">
    <div class="clear top-5">
      <h5>Add rules to the pipeline.</h5>
			<p class="left-10">Rules are the unique decisions made within a pipeline.</p> 
    </div>  
  </div>    
  <div class="clear top-5"></div>    
</div>  
<div class="clear"></div>  

