<% set_re_breadcrumbs link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"), 
											link_to("View Pipelines", re_pipeline_path(@re_pipeline), :class => "re-pipeline-show"), 
											link_to("Edit Pipelines", change_re_pipeline_path(@re_pipeline), :class => "re-pipeline-change"), 
											'<span class="re-rule-help">Rule Help</span>' %>

<div class="prepend-1 span-20 append-1">      
  <div class="re-infobox">
    <%= render :partial => 'help' %>
    <div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>