<%# set_re_javascript_include 're_pipeline_jobs' %>
<% set_re_breadcrumbs link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"), 
											link_to("Pipeline Job Audit", re_jobs_path, :class => "re-job-list"), 
											'<span class="re-job-list">Job Detail</span>' %>

<div class="prepend-1 span-19">      
  <div class="re-infobox">
		<div class="span-18">      	
		 	<%= render '/re_jobs/show' %>
	   	<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>