.re_container {
  min-height: 700px;  
}

.re_container h1, #re_content h1 {
  font-size:36px;
  line-height:42px;
  margin: 0px 6px;
}
.re_container h2, #re_content h2 {
  font-size:30px;
  line-height:36px;
  margin: 0px 6px;
}
.re_container h3, #re_content h3 {
  font-size:24px;
  line-height:30px;
  margin: 0px 6px;
}
.re_container h4, #re_content h4 {
  font-size:20px;
  line-height:24px;
  margin: 0px 6px;
}
.re_container h5, #re_content h5 {
  font-size:18px;
  line-height:22px;
  margin: 0px 6px;
}
.re_container h6, #re_content h6 {
  font-size:16px;
  line-height:20px;
  margin: 0px 6px;
}
.re_container p, #re_content p {
  font-size:14px;
  line-height:16px;
  padding-top:4px;
  padding-bottom:2px; 
  margin: 0px 6px;
}

.re-code{
  font-size: 14px;
  line-height: 16px;
  font-family:'andale mono', 'lucida console', monospace;
  padding-top: 6px;
}
.re-code-small{
  font-size: 12px;
  line-height: 14px;
  font-family:'lucida console', monospace;
  padding-top: 3px;
}

/* ************************************* */
/* MAPS */
/* ************************************* */
/* breadcrumbs */
.re-breadcrumbs .re-bc-plan-list {
	background: transparent url('./images/rules_engine/re_plan/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-show {
	background: transparent url('./images/rules_engine/re_plan/show-25.png') no-repeat 0 4px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-bc-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-change {
	background: transparent url('./images/rules_engine/re_plan/change-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-copy {
	background: transparent url('./images/rules_engine/re_plan/copy-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

/* sub headers*/
h3.re-hdr-plan-alert {
	background: transparent url('./images/rules_engine/re_plan/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-delete {
	background: transparent url('./images/rules_engine/re_plan/delete-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

/* status */
h4.re-sts-plan-draft {
	background: transparent url('./images/rules_engine/re_common/status-draft-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-changed {
	background: transparent url('./images/rules_engine/re_common/status-changed-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-published {
	background: transparent url('./images/rules_engine/re_common/status-published-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
em.re-sts-plan-draft {
  color: #696969;
}
em.re-sts-plan-changed {
  color: #92b83c;
}
em.re-sts-plan-published {
  color: #218868;
}
em.re-sts-plan-verify {
  color: #b43838;
}

/* menu  */
a.re-menu-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-new:hover {
  text-decoration: underline;
}
a.re-menu-plan-show {
	background: transparent url('./images/rules_engine/re_plan/show-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-show:hover {
  text-decoration: underline;
}
a.re-menu-plan-change {
	background: transparent url('./images/rules_engine/re_plan/change-25.png') no-repeat left -2px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-change:hover {
  text-decoration: underline;
}
a.re-menu-plan-copy {
	background: transparent url('./images/rules_engine/re_plan/copy-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-copy:hover {
  text-decoration: underline;
}
a.re-menu-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-edit a:hover {
  text-decoration: underline;
}
a.re-menu-plan-delete {
	background: transparent url('./images/rules_engine/re_plan/delete-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-delete:hover {
  text-decoration: underline;
}
a.re-menu-plan-publish-all {
	background: transparent url('./images/rules_engine/re_plan/publish-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-publish-all:hover {
  text-decoration: underline;
}
a.re-menu-plan-publish {
	background: transparent url('./images/rules_engine/re_plan/publish-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-publish:hover {
  text-decoration: underline;
}
a.re-menu-plan-revert {
	background: transparent url('./images/rules_engine/re_plan/revert-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-revert:hover {
  text-decoration: underline;
}

/* list  */

/* extra */
div.re-xtra-plan-title-plural {
  background: transparent url('./images/rules_engine/re_plan/title-plural.png') no-repeat 0px 15px;
  width: 50px;
  height: 45px;  
}
div.re-xtra-plan-title-plural span {
  display: none;
}
div.re-xtra-plan-title-single {
  background: transparent url('./images/rules_engine/re_plan/title-single.png') no-repeat 0px 15px;
  width: 50px;
  height: 45px;  
}
div.re-xtra-plan-title-single span {
  display: none;
}
div.re-xtra-plan-preview {
  background: transparent url('./images/rules_engine/re_plan/preview-18.png') no-repeat 8px 4px;
  width: 25px;
  height: 22px;  
}


/* ************************************* */
/* WORKFLOW */
/* ************************************* */
/* breadcrumbs */
.re-breadcrumbs .re-bc-workflow-list {
	background: transparent url('./images/rules_engine/re_workflow/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-show {
	background: transparent url('./images/rules_engine/re_workflow/show-25.png') no-repeat 0 4px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-bc-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-copy {
	background: transparent url('./images/rules_engine/re_workflow/copy-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}


/* sub headers*/
h3.re-hdr-workflow-alert {
	background: transparent url('./images/rules_engine/re_workflow/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-add {
	background: transparent url('./images/rules_engine/re_workflow/add-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-delete {
	background: transparent url('./images/rules_engine/re_workflow/destroy-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

/* status */
h4.re-sts-workflow-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-workflow-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
em.re-sts-workflow-valid {
  color: #218868;
}
em.re-sts-workflow-verify {
  color: #b43838;
}

/* menu  */
a.re-menu-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-new:hover {
  text-decoration: underline;
}
a.re-menu-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-change a:hover {
  text-decoration: underline;
}
div.re-menu-workflow-add {
	background: transparent url('./images/rules_engine/re_workflow/add-25.png') no-repeat left 0px;
  padding: 0 0 0 30px;
  color: #222;
}
a.re-menu-workflow-add-link {
  float:left;
	background: transparent url('./images/rules_engine/re_workflow/add-14.png') no-repeat left 3px;
  padding: 0px 0 0 20px;
  margin: 0 8px 0 0;
  color: #222;
  line-height: 19px;
  text-decoration: none;
  width:200px;
}
a.re-menu-workflow-add-link:hover {
  text-decoration: underline;
}
a.re-menu-workflow-add-link-off {
  float:left;
	background: transparent url('./images/rules_engine/re_workflow/add-off-14.png') no-repeat left 3px;
  padding: 0px 0 0 20px;
  margin: 0 8px 0 0;
  color: #222;
  line-height: 19px;
  text-decoration: none;
  width:200px;
}
a.re-menu-workflow-add-link-off:hover {
  text-decoration: none;
}

div.re-menu-workflow-plan {
	background: transparent url('./images/rules_engine/re_workflow/plan-25.png') no-repeat left 0px;
  padding: 0 0 0 30px;
  color: #696969;
}
a.re-menu-workflow-show {
	background: transparent url('./images/rules_engine/re_workflow/show-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-show:hover {
  text-decoration: underline;
}
a.re-menu-workflow-copy {
	background: transparent url('./images/rules_engine/re_workflow/copy-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-copy:hover {
  text-decoration: underline;
}
a.re-menu-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-edit:hover {
  text-decoration: underline;
}
a.re-menu-workflow-delete {
	background: transparent url('./images/rules_engine/re_workflow/delete-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-delete:hover {
  text-decoration: underline;
}

/* list  */
div.re-list-workflow-is-default {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/is-default-18.png') no-repeat left 4px;
  width: 25px;
  height: 22px;  
}
div.re-list-workflow-is-default span {
  display: none;
}
div.re-list-workflow-is-default-off {
/*  background: transparent url('./images/rules_engine/re_workflow/is-default-off-18.png') no-repeat left 4px;*/
  width: 25px;
  height: 22px;  
}
div.re-list-workflow-is-default-off span {
  display: none;
}
a.re-list-workflow-show {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/show-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-show span {
  display: none;
}
a.re-list-workflow-make-default {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/make-default-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-make-default span {
  display: none;
}
a.re-list-workflow-make-default-off {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/make-default-off-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-make-default-off span {
  display: none;
}
a.re-list-workflow-change {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/change-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-change span {
  display: none;
}
a.re-list-workflow-remove {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/remove-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-remove span {
  display: none;
}

/* workflow actions */

/* extra */
div.re-xtra-workflow-title-plural {
  background: transparent url('./images/rules_engine/re_workflow/title-plural.png') no-repeat 5px 15px;
  width: 95px;
  height: 60px;
}
div.re-xtra-workflow-title-plural span {
  display: none;
}
div.re-xtra-workflow-title-single {
  background: transparent url('./images/rules_engine/re_workflow/title-single.png') no-repeat 5px 15px;
  width: 90px;
  height: 60px;
}
div.re-xtra-workflow-title-single span {
  display: none;
}
div.re-xtra-workflow-preview {
  background: transparent url('./images/rules_engine/re_workflow/preview-18.png') no-repeat 8px 4px;
  width: 25px;
  height: 22px;  
}
div.re-xtra-workflow-plan-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 70px;
  color: #696969;
}
div.re-xtra-workflow-add-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}
a.re-xtra-workflow-next-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-workflow-next-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-workflow-prev-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
a.re-xtra-workflow-prev-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}


/* ************************************* */
/* RULES */
/* ************************************* */

/* breadcrumbs */
.re-breadcrumbs .re-bc-rule-new {
	background: transparent url('./images/rules_engine/re_rule/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-help {
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-edit {
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-error {
	background: transparent url('./images/rules_engine/re_rule/error-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

/* sub headers*/
h3.re-hdr-rule-new {
	background: transparent url('./images/rules_engine/re_rule/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-help {
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-edit {
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-alert {
	background: transparent url('./images/rules_engine/re_rule/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}

/* status */
h4.re-sts-rule-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-18.png') no-repeat left 4px;
  padding: 0 0 0 20px;
  margin: 0;
}
h4.re-sts-rule-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 20px;
  margin: 0;
}

h6.re-sts-rule-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-14.png') no-repeat left 4px;
  padding: 0 0 0 18px;
  margin: 0;
}
h6.re-sts-rule-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-14.png') no-repeat left 4px;
  padding: 0 0 0 18px;
  margin: 0;
}

/* menu  */
a.re-menu-rule-new {
  float: left;
	background: transparent url('./images/rules_engine/re_rule/add-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-menu-rule-new span {
  display: none;
}
a.re-menu-rule-help {
  float: left;
	background: transparent url('./images/rules_engine/re_rule/help-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-menu-rule-help span {
  display: none;
}

/* list  */
a.re-list-rule-edit {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-edit span {
  display: none;
}
a.re-list-rule-delete {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/destroy-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-delete span {
  display: none;
}
a.re-list-rule-move-down {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-down-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 10px 0 0;
}
a.re-list-rule-move-down span {
  display: none;
}
a.re-list-rule-move-down-off {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-down-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 10px 0 0;
}
a.re-list-rule-move-down-off span {
  display: none;
}
a.re-list-rule-move-up {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-up-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-move-up span {
  display: none;
}
a.re-list-rule-move-up-off {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-up-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-move-up-off span {
  display: none;
}
a.re-list-rule-help {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-help span {
  display: none;
}


/* extra */
div.re-xtra-rule-title-plural {
  background: transparent url('./images/rules_engine/re_rule/title-plural.png') no-repeat 40px 20px;
  width: 90px;
  height: 50px;
}
div.re-xtra-rule-title-plural span {
  display: none;
}
div.re-xtra-rule-title-single {
  background: transparent url('./images/rules_engine/re_rule/title-single.png') no-repeat 40px 20px;
  width: 90px;
  height: 50px;
}
div.re-xtra-rule-title-single span {
  display: none;
}
.re-xtra-rule-preview {
  float:left;
  width: 210px;  
}
.re-xtra-rule-preview p {
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  padding: 1px 2px;
}
.re-xtra-rule-next-right {
  float:left;
	background: transparent url('./images/rules_engine/re_rule/next-right-18.png') no-repeat 10px 30px;
  width: 40px;
  height: 54px;  
}
.re-xtra-rule-next-down {
	background: transparent url('./images/rules_engine/re_rule/next-down-25.png') no-repeat 0px 7px;
  width: 40px;
  height: 40px;  
}
.re-xtra-rule-continue {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/start-pipeline-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-stop-failure {
  width: 155px;
	background: #FBE3E4 url('./images/rules_engine/re_rule/stop-failure-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-stop-success {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/stop-success-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-start-workflow {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/start-workflow-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
select#re_rule_class_list {
  width: 240px;
  height: 30px;
  font: 18px/24px arial,sans-serif;
  background-color: #FFF;
  overflow: hidden;
}
.re-xtra-rule-list {
}
p.re-xtra-rule-name {
  float: left;
  font-size: 14px;
  line-height: 18px;
  width: 180px;
/*  height: 16px;*/
/*  overflow: hidden;*/
}

/* ************************************* */
/* PUBLICATIONS */
/* ************************************* */
div.re-menu-publication-show {
	background: transparent url('./images/rules_engine/re_publication/show-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #222;
  text-decoration: none;
}

div.re-xtra-publication-show-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}

/* ************************************* */
/* HISTORY */
/* ************************************* */
.re-breadcrumbs .re-bc-history-list {
	background: transparent url('./images/rules_engine/re_history/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

h3.re-hdr-history-show {
	background: transparent url('./images/rules_engine/re_history/list-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

div.re-menu-history-list {
	background: transparent url('./images/rules_engine/re_history/list-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #222;
  text-decoration: none;
}

div.re-xtra-history-list-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}

a.re-xtra-history-next-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-history-next-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-history-prev-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
a.re-xtra-history-prev-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}

.re-xtra-history-success {
  background: transparent url('./images/rules_engine/re_common/status-success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-history-error {
  background: transparent url('./images/rules_engine/re_common/status-error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-history-info {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-history-running {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.re-xtra-history-audit-success {
  background: transparent url('./images/rules_engine/re_common/status-success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-history-audit-error {
  background: transparent url('./images/rules_engine/re_common/status-error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-history-audit-info {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
