<% position = 0 %>
<% (@rule.words || []).each do | word | %>  
  <% f.fields_for :rule_data, {:first => false} do |frd| %>
    <%= render :partial => '/re_rule_definitions/blacklist_word/word', :locals => { :f => frd, :position => position, :word => word} %>
    <% position += 1 %>        
  <% end %>
<% end %>  
<% if position == 0 %>
  <% f.fields_for :rule_data, {:first => false} do |frd| %>
    <%= render :partial => '/re_rule_definitions/blacklist_word/word', :locals => { :f => frd, :position => position} %>      
  <% end %>
<% end %>

<div id="new_position_blacklist_word"></div>
<%= form_text_ext "", render_add_link('Add another word to the blacklist', 'blacklist_word') %>    

