<% id = local_assigns[:position] ? position : 'NEW_RECORD'  %>

<div id="blacklist_word_<%=id%>">
  <%= text_field_ext "Words to blacklist", "blacklist_word[#{id}][word]",  
                                            local_assigns[:word] ? word : '',
                                            :size => 40, 
                                            :required => id == 0, 
                                            :span => '4x12', 
                                            :hint => render_remove_link("Remove", "blacklist_word[#{id}]", id) %>
        
  <%= render_delete_field("blacklist_word[#{id}]", id) %>      
</div>
