<% if @re_publications.nil? || @re_publications["publications"].nil? || @re_publications["publications"].empty? %>
	<h6 class="left-50 red"><em>Not Published</em></h6>
<% else %>
	<% @re_publications["publications"].each do |re_publication| %>
		<div class="clear top-2"></div>
		<div class="left-10 right-5">
			<div class="re-code-small float-left">
				<%= re_publication["version_tag"] %> <span class="blue">V.<%= re_publication["plan_version"] %></span>
			</div>
			<div class="smalltext float-right">	
				<%= re_publication["published_at"].nil? ? '' : Time.parse(re_publication["published_at"]).strftime('%d %b %Y - %H:%M') %>
			</div>	
			<hr/>	
		</div>		
	<% end %>		
<% end %>