<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
											link_to("View Plan", re_plan_path(@re_plan), :class => "re-bc-plan-show"),
											link_to("Edit Plan", change_re_plan_path(@re_plan), :class => "re-bc-plan-change"),
											'<span class="re-bc-workflow-new">New Workflow</span>'.html_safe %>

<div class="prepend-2 span-22 append-1">      
  <div class="re-infobox">
		<%= render '/re_workflows/new', :create_path => re_plan_workflows_path(@re_plan), :cancel_path => change_re_plan_path(@re_plan) %>
    <div class="clear top-5"></div>
  </div>  
</div>  
<div class="clear"></div>