/* CHANGE THE RULES MENU */
/*.re-rule-menu .shadowbox-outer{*/
/*  padding-bottom: 15px;*/
/*}*/

/* breadcrumb title items */
.re-breadcrumbs .re-pipeline-list {
	background: transparent url('/images/re_pipeline/list-25.png') no-repeat 0 6px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-pipeline-new {
	background: transparent url('/images/re_pipeline/new-25.png') no-repeat 0 6px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-pipeline-show {
	background: transparent url('/images/re_pipeline/show-25.png') no-repeat 0 6px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-pipeline-change {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat 0 6px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-job-list {
	background: transparent url('/images/re_job/list-25.png') no-repeat 0 6px;
	padding: 0 0 0 28px;
}

/* sub headers*/
h2.re-pipeline-alert {
	background: transparent url('/images/re_pipeline/alert-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-list {
	background: transparent url('/images/re_pipeline/list-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-new {
	background: transparent url('/images/re_pipeline/new-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-edit {
	background: transparent url('/images/re_pipeline/edit-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-change {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-activate {
	background: transparent url('/images/re_pipeline/activate-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-deactivate {
	background: transparent url('/images/re_pipeline/deactivate-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-revert {
	background: transparent url('/images/re_pipeline/revert-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.re-pipeline-delete {
	background: transparent url('/images/re_pipeline/destroy-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}

/* pipeline-status*/
h3.re-pipeline-status-draft {
	background: transparent url('/images/re_pipeline/draft-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.re-pipeline-status-changed {
	background: transparent url('/images/re_pipeline/changed-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.re-pipeline-status-current {
	background: transparent url('/images/re_pipeline/current-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.re-pipeline-status-verify {
	background: transparent url('/images/re_pipeline/verify-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
/* pipeline status text  */
em.re-pipeline-status-draft {
  color: #696969;
}
em.re-pipeline-status-changed {
  color: #92b83c;
}
em.re-pipeline-status-current {
  color: #218868;
}
em.re-pipeline-status-verify {
  color: #b43838;
}

/* pipeline actions */
h3.re-pipeline-new  {
  padding: 0 0 4px 0;
}
h3.re-pipeline-new a {
	background: transparent url('/images/re_pipeline/new-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #218868;
  text-decoration: none;
}
h3.re-pipeline-new a:hover {
  text-decoration: underline;
}
h3.re-job-list  {
  padding: 0 0 4px 0;
}
h3.re-job-list a {
	background: transparent url('/images/re_job/list-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #244A9F;
  text-decoration: none;
}
h3.re-job-list a:hover {
  text-decoration: underline;
}
h3.re-pipeline-show  {
/*  padding: 0 0 4px 0;*/
  padding: 0;
}
h3.re-pipeline-show a {
	background: transparent url('/images/re_pipeline/show-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #92b83c;
  text-decoration: none;
}
h3.re-pipeline-show a:hover {
  text-decoration: underline;
}
h3.re-pipeline-change  {
/*  padding: 0 0 4px 0;*/
  padding: 0;
}
h3.re-pipeline-change a {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #218868;
  text-decoration: none;
}
h3.re-pipeline-change a:hover {
  text-decoration: underline;
}
h3.re-pipeline-edit  {
  padding: 0 0 4px 0;
}
h3.re-pipeline-edit a {
	background: transparent url('/images/re_pipeline/edit-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #218868;
  text-decoration: none;
}
h3.re-pipeline-edit a:hover {
  text-decoration: underline;
}
h3.re-pipeline-activate  {
  padding: 0 0 4px 0;
}
h3.re-pipeline-activate a {
	background: transparent url('/images/re_pipeline/activate-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #92b83c;
  text-decoration: none;
}
h3.re-pipeline-activate a:hover {
  text-decoration: underline;
}
h3.re-pipeline-deactivate {
  padding: 0 0 4px 0;
}
h3.re-pipeline-deactivate a {
	background: transparent url('/images/re_pipeline/deactivate-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}
h3.re-pipeline-deactivate a:hover {
  text-decoration: underline;
}
h3.re-pipeline-revert {
  padding: 0 0 4px 0;
}
h3.re-pipeline-revert a {
	background: transparent url('/images/re_pipeline/revert-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}
h3.re-pipeline-revert a:hover {
  text-decoration: underline;
}
h3.re-pipeline-delete {
  padding: 0 0 4px 0;
}
h3.re-pipeline-delete a {
	background: transparent url('/images/re_pipeline/destroy-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}
h3.re-pipeline-delete a:hover {
  text-decoration: underline;
}

/* rule list */
a.re-pipeline-rule-list-toggle {
  text-decoration: none;
}
div.re-pipeline-rule-list-right {
	background: transparent url('/images/re_pipeline/list-right.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
  color: #696969;
}
div.re-pipeline-rule-list-down {
	background: transparent url('/images/re_pipeline/list-down.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
  color: #696969;
}

/* rules */
h2.re-rule-class-new {
	background: transparent url('/images/re_rule_class/new-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}
h2.re-rule-class-help {
	background: transparent url('/images/re_rule_class/help-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}
h2.re-rule-edit {
	background: transparent url('/images/re_rule/edit-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}

.re-rule-show div.re-rule-status-valid {
	background: transparent url('/images/re_rule/valid-18.png') no-repeat 2px 2px;
  padding: 2px 0 4px 24px;
}
.re-rule-show div.re-rule-status-verify {
	background: #FBE3E4 url('/images/re_rule/verify-18.png') no-repeat 2px 2px;
  padding: 2px 0 4px 24px;
}
.re-rule-change h3 { 
  margin: 0;
  padding: 0;
}
.re-rule-change div.re-rule-status-valid {
	background: transparent url('/images/re_rule/valid-25.png') no-repeat 2px 2px;
  padding: 2px 0 4px 31px;
}
.re-rule-change div.re-rule-status-verify {
	background: #FBE3E4 url('/images/re_rule/verify-25.png') no-repeat 2px 2px;
  padding: 2px 0 4px 31px;
}
.re-rule-next-change {
	background: transparent url('/images/re_rule/next-change-25.png') no-repeat 0px 7px;
  width: 40px;
  height: 40px;  
}
.re-rule-next-show {
	background: transparent url('/images/re_rule/next-show-18.png') no-repeat 0px 30px;
  width: 24px;
  height: 54px;  
}
.re-rule-continue {
  width: 185px;
	background: #fffef0 url('/images/re_rule/next-show-18.png') no-repeat 195px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-rule-stop-failure {
  width: 185px;
	background: #FBE3E4 url('/images/re_rule/stop-failure-18.png') no-repeat 195px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-rule-stop-success {
  width: 185px;
	background: #fffef0 url('/images/re_rule/stop-success-18.png') no-repeat 195px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-rule-goto-pipeline {
  width: 185px;
	background: #fffef0 url('/images/re_rule/goto-pipeline-18.png') no-repeat 195px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
a.re-rule-edit {
  float:right;
	background: transparent url('/images/re_rule/edit-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
}
a.re-rule-edit span {
  display: none;
}
a.re-rule-delete {
  float:right;
	background: transparent url('/images/re_rule/destroy-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
}
a.re-rule-delete span {
  display: none;
}
a.re-rule-move-down {
  float:right;
	background: transparent url('/images/re_rule/move-down-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 20px;
}
a.re-rule-move-down span {
  display: none;
}
a.re-rule-move-down-off {
  float:right;
	background: transparent url('/images/re_rule/move-down-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 20px;
}
a.re-rule-move-down-off span {
  display: none;
}
a.re-rule-move-up {
  float:right;
	background: transparent url('/images/re_rule/move-up-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 3px;
}
a.re-rule-move-up span {
  display: none;
}
a.re-rule-move-up-off {
  float:right;
	background: transparent url('/images/re_rule/move-up-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 3px;
}
a.re-rule-move-up-off span {
  display: none;
}


/* rule-classes */
/*a.re-rule-class-list-toggle {
  text-decoration: none;
}
h5.re-rule-class-list-right {
  background: transparent url('/images/re_rule_class/list-right.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
}
h5.re-rule-class-list-down {
  background: transparent url('/images/re_rule_class/list-down.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
}
*/
select#re_rule_class_list {
  width: 240px;
  height: 28px;
  font: 18px/24px arial,sans-serif;
  background-color: #FFF;
  overflow: hidden;
}
.re-rule-class-list h5 {
  float: left;
  font-size: 120%;
}
a.re-rule-class-new {
  float: right;
	background: transparent url('/images/re_rule_class/add-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-rule-class-new span {
  display: none;
}
a.re-rule-class-help {
  float: right;
	background: transparent url('/images/re_rule_class/help-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-rule-class-help span {
  display: none;
}
.re-rule-class-list p {
  clear: both;
  padding-left: 12px;
}

/* jobs */
#re_job_list h3 {
  color: #244A9F;
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 4px;
  padding: 5px 0 5px 32px;
}
.re-job-show h3 {
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 0px;
  padding: 0px 0 5px 32px;
}

#re_job_list_empty h3 {
  font-size:16px;
  line-height:18px;
  font-weight:normal;
  padding-top:4px;
  padding-bottom:3px; 
  margin: 0px 3px;
}

#re_job_list_empty h4 {
  font-size:16px;
  line-height:18px;
  font-weight:normal;
  padding-top:4px;
  padding-bottom:3px; 
  margin: 0px 3px;
}

#re_job_list_pending {
  background: transparent url('/images/re_job/loadingAnimation.gif') no-repeat 20px 10px;
  padding : 20px 0px 5px 15px;  
}
#re_job_list_pending h3 {
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 4px;
  padding: 5px 0 5px 32px;
  color: #bbb;
}
.re-job-success {
	background: transparent url('/images/re_job/success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.re-job-error {
	background: transparent url('/images/re_job/error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.job-running {
	background: transparent url('/images/re_job/info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

#re_job_audit_table a,
#re_job_audit_table a:visited,
#re_job_table a,
#re_job_table a:visited  {
color:#666666;
}

.re-job-page-next-enabled {
  float: right;
  background: transparent url('/images/re_job/next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
.re-job-page-next-disabled {
  float: right;
  background: transparent url('/images/re_job/next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
.re-job-page-prev-enabled {
  float: right;
  background: transparent url('/images/re_job/prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
.re-job-page-prev-disabled {
  float: right;
  background: transparent url('/images/re_job/prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
a.re-job-goto {
  background: transparent url('/images/re_job/goto-16.png') no-repeat top right;
  padding: 0px 20px 0px 0px;
}

.re-job-index-box {
	border: solid #ddd 10px;
	margin: 0 2px;
}
a.re-job-detail {
  background: transparent url('/images/re_job/list-18.png') no-repeat 0px 0px;  
  height: 16px;  
  width: 16px;  
  padding: 0px 0px 0px 20px;
}
