<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
											link_to("All Processes", re_processes_path, :class => "re-bc-process-list"), 
											'<span class="re-bc-process-show">Show Process</span>' %>

<div class="span-22 prepend-1 append-1">      
	<%= render '/re_processes/show' %>
</div>  
<div class="clear"></div>