.whitebox{
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	background: #FFFFFF url("re_view_box/whitebox.jpg") no-repeat top left;
	height: 1%  
}
html>body .whitebox {
  height: auto;
}

.whitebox-content{
	margin-top: 0px;
	margin-right: 10px; 
	margin-bottom: 5px;
	margin-left: 15px;
	padding: 10px 0 0 0;
	text-align: left;
}


.shadowbox-outer{
  padding-bottom: 25px;
  background: #FFFFFF url("re_view_box/shadowbox.jpg") no-repeat bottom left;
}

.shadowbox-inner{
  border-right: 1px solid #ccc;
  background-color: #FDF8B3;
  padding: 5px 15px 5px 15px;
}

.bluebox-header {
	color: #fff;
	background: #5b93ba;
	border: 1px #335871 solid; 
	padding: 3px 2px 3px 4px;
	margin: 0 2px;
}
.bluebox {
  border: 1px #4983a5 solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}

.greenbox-header {
	color: #fff;
	background: #92b83c;
	border: 1px #92b83c solid; 
	padding: 3px 2px 3px 4px;
	margin: 0 2px;
}
.greenbox {
	border: 1px #92b83c solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}

.redbox-header {
	color: #fff;
	background: #b43838;
	border: 1px #7c1e1e solid; 
	padding: 3px 2px 3px 4px;
	margin: 0 2px;
}
.redbox {
	border: 1px #7c1e1e solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}

.dkgreenbox-header {
	color: #fff;
	background: #218868;
	border: 1px #548B54 solid; 
	padding: 3px 2px 3px 4px;
	margin: 0 2px;
}
.dkgreenbox {
	border: 1px #548B54 solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}

.brownbox-header {
  background: #a8a388;  
  border-top: 1px solid #989377;
  border-right: 1px solid #989377;
  border-left: 1px solid #989377;
	padding: 3px 0px 3px 4px;
	margin: 0 2px;
}
.brownbox {
	background: #ece9da;
	border: 1px #d5d1ba solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}

.yellowbox-header {
  background: #f3f1b1;
  border: 1px solid #f3f1b1;
	padding: 3px 2px 3px 4px;
	margin: 0 2px;
}
.yellowbox{
	background: #fffef0;
	border: 1px #f3f1b1 solid;
	padding: 0px 2px 3px 2px;
	margin: 0 2px;
}


.boombox {
	padding: 15px 20px 10px 20px;
	background: #fff url("re_view_box/boombox.png") bottom left repeat-x;
	border: solid #bbb 1px;
  margin: 0 2px;
	text-align: center;
}

.infobox {
	font-size: 13px;
	line-height: 16px;
	padding: 5px 3px 5px 5px;
  margin: 0 2px;
	border: solid #ddd 10px;
}

.headerbox {
	padding: 7px 5px 3px 10px;
	margin: 0;
	background-color: #90bade;
	color: #333;	
}	

/* @group ALERTS */
.errorbox {
	font-size: 1.4em;
	background: #fff6bf url("re_view_box/exclamation.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #ffd324;
	margin-left: auto;
	margin-right: auto;
}	

.successbox {
	font-size: 1.4em;
	background: #fff6bf url("re_view_box/accept.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #92b83c;
  margin-left: auto;
  margin-right: auto;
}	

.error, .notice, .success {
  margin-top: 2px;
  margin-bottom: 0px;
}

.error strong, .notice strong, .success strong {
  padding-right: 5px;
}