.re-form-field {
  margin: 0;
  padding: 0;
}


.re-form-label, .re-form-label-error{
	color: #305267;
	font-size: 14px;
	margin-top: 6px;
}
.re-form-label-error{
 color:#933;
}
.re-form-label .re-form-required,
.re-form-label-error .re-form-required {
	padding-left: 3px;
	color:#933;
}

.re-form-data, .re-form-data-error{
	color: #305267;
	font-size: 14px;
	margin-top: 0px;
}
.re-form-data-error{
 color:#933;
}
.re-form-data .form-hint,
.re-form-data-error .form-hint
{
	display:block;
	float: left;
	font-size: 12px;
  color: #305267;
	padding-top: 6px;
  padding-left: 5px;
}
.re-form-data .form-text{
  display:block;
  float:left;
	font-size: 14px;
	color: #000;
	margin-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.re-form-data .form-error-message,
.re-form-data-error .form-error-message {
	display:block;
	float: left;
	font-size: 12px;
  color:#933;
  padding-top: 6px;
  padding-left: 5px;
}

.re-form-disabled{
	color: #CCC;
}

/* overwrite bliueprint */
input[type=text], input[type=password], textarea, select {margin:4px 0 4px 0;padding:2px 3px;}
input[type=text], input[type=password], textarea, select {background-color:#fff; border:1px solid #bbb;}

label{
	font-weight: normal;
}
input{
	display:block;
	float: left;
	font-size: 14px;
}
textarea{
/*  font-family: "Lucida Grande","Lucida Sans Unicode",verdana,arial,helvetica,sans-serif;*/
	display:block;
	float: left;
	font-size: 14px;	
}
select{
	display:block;
	float: left;
	font-size: 14px;
}

.re-form-field-checkbox input[type=checkbox]{
  display:block;
  float:left;
}
.re-form-field-checkbox .form-text{
  margin-top: 2px;
}

.re-form-field-checkbox .form-text .re-form-label, 
.re-form-field-checkbox .form-text .re-form-label-error{
	margin-top: 0px;
}

.fieldWithErrors{/* Override the Rails Field Error*/
	display:block;
	float: left;
	color: #933;
	font-size: 14px;
}
.fieldWithErrors input, .fieldWithErrors textarea,
.re-form-data-error input, .re-form-data-error textarea,
.form-text-error input, .form-text-error textarea
{
	border-bottom:1px solid #933;
	border-right:1px solid #933;
}

.re-form-disabled .re-form-required,
.re-form-disabled label, 
.re-form-disabled .fieldWithErrors,
.re-form-disabled .formError
{
	color: #CCC;
}
