/* @group BREADCRUMBS */

.re-breadcrumbs {
	margin:0 0 5px 0;
	padding:0 10px;
	height:40px;
	line-height:40px;
	border:1px solid #eee;
	color: #222;
}
.re-breadcrumbs a {
	float:left;
	height:40px;
	color: #222;
	font-size: 18px;	
  text-decoration: none;
}
.re-breadcrumbs a:hover {
	text-decoration: underline;
}
.re-breadcrumbs em {
	float:left;
	height:40px;
	font-weight: normal;
	font-size: 18px;	
}
.re-breadcrumbs span {
	float:left;
}
.re-breadcrumbs span.re-breadcrumbs-seperator {
	background:url(./re_view_navigate/breadcrumb.png) no-repeat 5px center;
	float:left;
	overflow:hidden;
	height:40px;
  padding:0 0 0 20px;
	width:0px;
	filter:alpha(opacity=40);
	opacity:0.4;
}

.re-breadcrumbs .re-breadcrumb-right {
	float:right;
	margin:0;
	padding:0px;
	text-align:left;
}
