.error, .notice, .success {
  font-size:16px;
  margin-bottom: 5px;
  padding: 5px 15px; 
}

a.re-alert-close {
  float: right;
  text-decoration: none;
	background: url('./re_view_error/re-alert-close.png') no-repeat 2px 2px;
  padding-left: 24px;
}
a.re-alert-close:hover {
/*  color: #000;*/
  color: #222;
  text-decoration: underline;
}

/* styling for  rails error messages : error_messages_for(:user, :post, :object_name => "monkey") */

#errorExplanation {
  background-color: #fcc;
/*  margin: 10px 3px 5px 3px;*/
  padding: 0;
  text-align: left;
  border: solid 1px #f66;
}

#errorExplanation h2 {
  display: none;
  background: #f66;
  color: #333;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0;
  background-color: #f66;
}

#errorExplanation ul {
  display: none;
  margin: 0;
  padding: 0 2px 4px 25px;
  list-style: disc;
}

#errorExplanation p {
  background: #fcc;
  color: #111;
  font-size: 14px;
  padding: 2px 5px;
  margin: 5px 0px 5px 0px;
}

#errorExplanation ul li {
  font-weight: bold;
  font-size:12px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
