div.re-form-button {
  display: block;
  float: right;
  margin-top: 4px;
  margin-bottom: 1px;
}

a.re-form-button-gray,
a.re-form-button-blue,
a.re-form-button-green,
a.re-form-button-orange,
a.re-form-button-red
{
  display: block;
  font-size: 14px;      /* Change 13px as desired */
  font-weight: bold;  
  letter-spacing: -0.25px;
	line-height: 16px;    /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 24px;         /* Height of button background height */
	padding-left: 11px;   /* Width of left menu image */
	padding-right: 0px;   
	margin-left: 5px;
	text-decoration: none;
  text-align: center;
/*  margin-bottom: 5px;*/
}

a:link.re-form-button-gray, a:visited.re-form-button-gray, a:active.re-form-button-gray,
a:link.re-form-button-blue, a:visited.re-form-button-blue, a:active.re-form-button-blue,
a:link.re-form-button-green, a:visited.re-form-button-green, a:active.re-form-button-green,
a:link.re-form-button-orange, a:visited.re-form-button-orange, a:active.re-form-button-orange,
a:link.re-form-button-red, a:visited.re-form-button-red, a:active.re-form-button-red
{
	color: #494949; /*button text color*/
}

a.re-form-button-gray span,
a.re-form-button-blue span,
a.re-form-button-green span,
a.re-form-button-orange span,
a.re-form-button-red span
{
	display: block;
	padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.re-form-button-gray:hover,
a.re-form-button-blue:hover,
a.re-form-button-green:hover,
a.re-form-button-orange:hover,
a.re-form-button-red:hover
{ /* Hover state CSS */
	background-position: bottom left;
}

a.re-form-button-gray:hover span,
a.re-form-button-blue:hover span,
a.re-form-button-green:hover span,
a.re-form-button-orange:hover span,
a.re-form-button-red:hover span
{ /* Hover state CSS */	
	background-position: bottom right;
	color: black;
}

a.re-form-button-gray{ background: transparent url('./re_view_button/oval-gray-left.gif') no-repeat top left;}
a.re-form-button-blue{ background: transparent url('./re_view_button/oval-blue-left.gif') no-repeat top left;}
a.re-form-button-green{ background: transparent url('./re_view_button/oval-green-left.gif') no-repeat top left;}
a.re-form-button-orange{ background: transparent url('./re_view_button/oval-orange-left.gif') no-repeat top left;}
a.re-form-button-red{ background: transparent url('./re_view_button/oval-red-left.gif') no-repeat top left;}

a.re-form-button-gray span{ background: transparent url('./re_view_button/oval-gray-right.gif') no-repeat top right;}
a.re-form-button-blue span{ background: transparent url('./re_view_button/oval-blue-right.gif') no-repeat top right;}
a.re-form-button-green span{ background: transparent url('./re_view_button/oval-green-right.gif') no-repeat top right;}
a.re-form-button-orange span{ background: transparent url('./re_view_button/oval-orange-right.gif') no-repeat top right;}
a.re-form-button-red span{ background: transparent url('./re_view_button/oval-red-right.gif') no-repeat top right;}

a.button-checked{
	background: transparent url('./re_view_button/checked-on.gif') no-repeat 1px 1px;
/*	border: 1px solid #fff;*/
	width: 16px;
	height: 16px;
	float: left;
	padding: 0;
	margin: 0px 2px 0 0;
	font-size: 0px;
	color: #fff;
}
a.button-checked:hover	{ background-color: #696969; }

a.button-unchecked{
	background: transparent url('./re_view_button/checked-off.gif') no-repeat 1px 1px;
/*	border: 1px solid #fff;*/
	width: 16px;
	height: 16px;
	float: left;
	padding: 0;
	margin: 0px 2px 0 0;
	font-size: 0px;
	color: #fff;
}
a.button-unchecked:hover	{ background-color: #696969; }

a.re-add-link {
	background: url(./re_view_button/icon-add.png) top left no-repeat;
	text-decoration: none;
	font-weight: normal;	
	padding: 1px 0 2px 24px;
  margin: 0;
}

a.re-remove-link {
	background: url(./re_view_button/icon-delete.png) top left no-repeat;
	text-decoration: none;
	font-weight: normal;
	padding: 1px 0 2px 24px;
  margin: 0;
}