<% set_re_subnav "Rule Error", 
              link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"), 
              link_to("Edit Pipeline", change_re_pipeline_path(@re_pipeline), :class => "re-pipeline-change") %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render :partial => 'error' %>
    <div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>
