<% set_re_subnav "Help #{@rule_class.options[:name]}", 
              link_to("All Pipelines", re_pipelines_path, :class => "pipeline-list"), 
              link_to("Edit Pipeline", change_re_pipeline_path(@re_pipeline), :class => "pipeline-change") %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render :partial => 'help' %>
    <div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>