<h4>
	<div class="re-menu-publication-show" id="re_menu_publication_show_<%= @re_plan.id %>">Published History</div>	
</h4>

<div class="clear top-5"></div>
<div id="re_publication_show_pending">
	<div class="re-xtra-publication-show-pending">
		Updating Publications
	</div>	
</div>
<div id="re_publication_show">
</div>
<div class="clear top-5"></div>

