<div class="span-22">
	<div class="span-2">
		<div class="re-xtra-workflow-title-single"><span>Workflow</span></div>
	</div>
	<div class="span-20 last">
		<div class="re-infobox">    
			<%= render '/re_workflows/show' %>    
			<div class="clear"></div>
		</div>
			
		<div class="span-2 pull-1">
			<div class="re-xtra-rule-title-plural"><span>Rules</span></div>
		</div>	
		<div class="span-19 last">
			<div class="re-infobox no-top">    
				<%= render '/re_workflows/rule_empty', :hide => !@re_workflow.re_rules.empty? %>

				<% @re_workflow.re_rules.each_with_index do |re_rule, rule_index | %>
					<%= render '/re_workflows/rule_preview', :re_rule => re_rule,
																								:new_row => (rule_index != 0 && (rule_index % 2) == 0), 
																								:last_rule => re_rule == @re_workflow.re_rules[-1] %>
		    <% end %>
				<div class="clear"></div>
		  </div>  
		</div>
	</div>
	<div class="clear"></div>
	<%= re_button_link_orange('Close', re_plans_path, :id => "re_workflow_preview_close") %>
	<div class="clear top-10"></div>
</div>  
