<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
															'<span class="re-bc-plan-new">New Plan</span>'.html_safe %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render 'new' %>
    <div class="clear top-5"></div>
  </div>  
</div>  
<div class="clear"></div>