<div class="clear top-10"></div>
<hr/>

<div class="span-8">
  <%= re_select "Match Outcome", 'complex_workflow_action', 
                                    options_for_select([
                                                        ["Continue Next", 'next'], 
                                                        ["Stop Success", 'stop_success'],
                                                        ["Stop Failure", 'stop_failure'],
                                                        ["Start another Workflow", 'start_workflow']
                                                        ], 
                                                        @re_rule.rule.workflow_action || params['complex_workflow_action']),
																		:required => true %>
</div>
<div class="prepend-1 span-7 last">
  <%= re_text_field "Workflow Name", "complex_workflow", @re_rule.rule.workflow || params[:complex_workflow] || '', 
																		:size => 20, 
																		:required => true, 
																		:span => '3x5',
																		:error => @re_rule.rule.errors[:complex_workflow] %>
</div>

