.re-code{
  font-size: 14px;
  line-height: 16px;
  font-family:'andale mono', 'lucida console', monospace;
  padding-top: 6px;
}
.re-code-small{
  font-size: 12px;
  line-height: 14px;
  font-family:'lucida console', monospace;
  padding-top: 3px;
}

/* ************************************* */
/* MAPS */
/* ************************************* */
/* breadcrumbs */
.re-breadcrumbs .re-bc-plan-list {
	background: transparent url('./images/rules_engine/re_plan/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-show {
	background: transparent url('./images/rules_engine/re_plan/show-25.png') no-repeat 0 4px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-bc-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-change {
	background: transparent url('./images/rules_engine/re_plan/change-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-plan-copy {
	background: transparent url('./images/rules_engine/re_plan/copy-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

/* sub headers*/
h3.re-hdr-plan-alert {
	background: transparent url('./images/rules_engine/re_plan/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-plan-delete {
	background: transparent url('./images/rules_engine/re_plan/delete-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

/* status */
h4.re-sts-plan-draft {
	background: transparent url('./images/rules_engine/re_common/status-draft-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-changed {
	background: transparent url('./images/rules_engine/re_common/status-changed-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-published {
	background: transparent url('./images/rules_engine/re_common/status-published-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-plan-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
em.re-sts-plan-draft {
  color: #696969;
}
em.re-sts-plan-changed {
  color: #92b83c;
}
em.re-sts-plan-published {
  color: #218868;
}
em.re-sts-plan-verify {
  color: #b43838;
}

/* menu  */
a.re-menu-plan-new {
	background: transparent url('./images/rules_engine/re_plan/new-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-new:hover {
  text-decoration: underline;
}
a.re-menu-plan-show {
	background: transparent url('./images/rules_engine/re_plan/show-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-show:hover {
  text-decoration: underline;
}
a.re-menu-plan-change {
	background: transparent url('./images/rules_engine/re_plan/change-25.png') no-repeat left -2px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-change:hover {
  text-decoration: underline;
}
a.re-menu-plan-copy {
	background: transparent url('./images/rules_engine/re_plan/copy-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-copy:hover {
  text-decoration: underline;
}
a.re-menu-plan-edit {
	background: transparent url('./images/rules_engine/re_plan/edit-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-edit a:hover {
  text-decoration: underline;
}
a.re-menu-plan-delete {
	background: transparent url('./images/rules_engine/re_plan/delete-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-delete:hover {
  text-decoration: underline;
}
a.re-menu-plan-publish-all {
	background: transparent url('./images/rules_engine/re_plan/publish-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-publish-all:hover {
  text-decoration: underline;
}
a.re-menu-plan-publish {
	background: transparent url('./images/rules_engine/re_plan/publish-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-publish:hover {
  text-decoration: underline;
}
a.re-menu-plan-revert {
	background: transparent url('./images/rules_engine/re_plan/revert-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-plan-revert:hover {
  text-decoration: underline;
}

/* list  */

/* extra */
div.re-xtra-plan-title-plural {
  background: transparent url('./images/rules_engine/re_plan/title-plural.png') no-repeat 0px 15px;
  width: 50px;
  height: 45px;  
}
div.re-xtra-plan-title-plural span {
  display: none;
}
div.re-xtra-plan-title-single {
  background: transparent url('./images/rules_engine/re_plan/title-single.png') no-repeat 0px 15px;
  width: 50px;
  height: 45px;  
}
div.re-xtra-plan-title-single span {
  display: none;
}
div.re-xtra-plan-preview {
  background: transparent url('./images/rules_engine/re_plan/preview-18.png') no-repeat 8px 4px;
  width: 25px;
  height: 22px;  
}


/* ************************************* */
/* WORKFLOW */
/* ************************************* */
/* breadcrumbs */
.re-breadcrumbs .re-bc-workflow-list {
	background: transparent url('./images/rules_engine/re_workflow/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-show {
	background: transparent url('./images/rules_engine/re_workflow/show-25.png') no-repeat 0 4px;
	padding: 0 0 0 28px;
}
.re-breadcrumbs .re-bc-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

/* sub headers*/
h3.re-hdr-workflow-alert {
	background: transparent url('./images/rules_engine/re_workflow/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-add {
	background: transparent url('./images/rules_engine/re_workflow/add-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}
h3.re-hdr-workflow-delete {
	background: transparent url('./images/rules_engine/re_workflow/destroy-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

/* status */
h4.re-sts-workflow-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
h4.re-sts-workflow-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 22px;
  margin: 0;
}
em.re-sts-workflow-valid {
  color: #218868;
}
em.re-sts-workflow-verify {
  color: #b43838;
}

/* menu  */
a.re-menu-workflow-new {
	background: transparent url('./images/rules_engine/re_workflow/new-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-new:hover {
  text-decoration: underline;
}
a.re-menu-workflow-change {
	background: transparent url('./images/rules_engine/re_workflow/change-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-change a:hover {
  text-decoration: underline;
}
div.re-menu-workflow-add {
	background: transparent url('./images/rules_engine/re_workflow/add-25.png') no-repeat left 0px;
  padding: 0 0 0 30px;
  color: #222;
}
a.re-menu-workflow-add-link {
  float:left;
	background: transparent url('./images/rules_engine/re_workflow/add-14.png') no-repeat left 3px;
  padding: 0px 0 0 20px;
  margin: 0 8px 0 0;
  color: #222;
  line-height: 19px;
  text-decoration: none;
  width:200px;
}
a.re-menu-workflow-add-link:hover {
  text-decoration: underline;
}
a.re-menu-workflow-add-link-off {
  float:left;
	background: transparent url('./images/rules_engine/re_workflow/add-off-14.png') no-repeat left 3px;
  padding: 0px 0 0 20px;
  margin: 0 8px 0 0;
  color: #222;
  line-height: 19px;
  text-decoration: none;
  width:200px;
}
a.re-menu-workflow-add-link-off:hover {
  text-decoration: none;
}

div.re-menu-workflow-plan {
	background: transparent url('./images/rules_engine/re_workflow/plan-25.png') no-repeat left 0px;
  padding: 0 0 0 30px;
  color: #696969;
}
a.re-menu-workflow-show {
	background: transparent url('./images/rules_engine/re_workflow/show-25.png') no-repeat left -1px;
  padding: 0 0 0 28px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-show:hover {
  text-decoration: underline;
}
a.re-menu-workflow-edit {
	background: transparent url('./images/rules_engine/re_workflow/edit-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-edit:hover {
  text-decoration: underline;
}
a.re-menu-workflow-delete {
	background: transparent url('./images/rules_engine/re_workflow/delete-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #218868;
  text-decoration: none;
}
a.re-menu-workflow-delete:hover {
  text-decoration: underline;
}

/* list  */
div.re-list-workflow-is-default {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/is-default-18.png') no-repeat left 4px;
  width: 25px;
  height: 22px;  
}
div.re-list-workflow-is-default span {
  display: none;
}
div.re-list-workflow-is-default-off {
/*  background: transparent url('./images/rules_engine/re_workflow/is-default-off-18.png') no-repeat left 4px;*/
  width: 25px;
  height: 22px;  
}
div.re-list-workflow-is-default-off span {
  display: none;
}
a.re-list-workflow-show {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/show-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-show span {
  display: none;
}
a.re-list-workflow-make-default {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/make-default-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-make-default span {
  display: none;
}
a.re-list-workflow-make-default-off {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/make-default-off-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-make-default-off span {
  display: none;
}
a.re-list-workflow-change {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/change-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-change span {
  display: none;
}
a.re-list-workflow-remove {
  float: right;
	background: transparent url('./images/rules_engine/re_workflow/remove-18.png') no-repeat left 2px;
  width: 25px;
  height: 22px;  
}
a.re-list-workflow-remove span {
  display: none;
}

/* workflow actions */

/* extra */
div.re-xtra-workflow-title-plural {
  background: transparent url('./images/rules_engine/re_workflow/title-plural.png') no-repeat 5px 15px;
  width: 95px;
  height: 60px;
}
div.re-xtra-workflow-title-plural span {
  display: none;
}
div.re-xtra-workflow-title-single {
  background: transparent url('./images/rules_engine/re_workflow/title-single.png') no-repeat 5px 15px;
  width: 90px;
  height: 60px;
}
div.re-xtra-workflow-title-single span {
  display: none;
}
div.re-xtra-workflow-preview {
  background: transparent url('./images/rules_engine/re_workflow/preview-18.png') no-repeat 8px 4px;
  width: 25px;
  height: 22px;  
}
div.re-xtra-workflow-plan-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 70px;
  color: #696969;
}
div.re-xtra-workflow-add-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}
a.re-xtra-workflow-next-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-workflow-next-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-workflow-prev-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
a.re-xtra-workflow-prev-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}


/* ************************************* */
/* RULES */
/* ************************************* */

/* breadcrumbs */
.re-breadcrumbs .re-bc-rule-new {
	background: transparent url('./images/rules_engine/re_rule/new-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-help {
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-edit {
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}
.re-breadcrumbs .re-bc-rule-error {
	background: transparent url('./images/rules_engine/re_rule/error-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

/* sub headers*/
h3.re-hdr-rule-new {
	background: transparent url('./images/rules_engine/re_rule/new-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-help {
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-edit {
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}
h3.re-hdr-rule-alert {
	background: transparent url('./images/rules_engine/re_rule/alert-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;  
}

/* status */
h4.re-sts-rule-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-18.png') no-repeat left 4px;
  padding: 0 0 0 20px;
  margin: 0;
}
h4.re-sts-rule-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-18.png') no-repeat left 4px;
  padding: 0 0 0 20px;
  margin: 0;
}

h6.re-sts-rule-valid {
	background: transparent url('./images/rules_engine/re_common/status-valid-14.png') no-repeat left 4px;
  padding: 0 0 0 18px;
  margin: 0;
}
h6.re-sts-rule-verify {
	background: transparent url('./images/rules_engine/re_common/status-verify-14.png') no-repeat left 4px;
  padding: 0 0 0 18px;
  margin: 0;
}

/* menu  */
a.re-menu-rule-new {
  float: left;
	background: transparent url('./images/rules_engine/re_rule/add-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-menu-rule-new span {
  display: none;
}
a.re-menu-rule-help {
  float: left;
	background: transparent url('./images/rules_engine/re_rule/help-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.re-menu-rule-help span {
  display: none;
}

/* list  */
a.re-list-rule-edit {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/edit-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-edit span {
  display: none;
}
a.re-list-rule-delete {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/destroy-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-delete span {
  display: none;
}
a.re-list-rule-move-down {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-down-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 10px 0 0;
}
a.re-list-rule-move-down span {
  display: none;
}
a.re-list-rule-move-down-off {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-down-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 10px 0 0;
}
a.re-list-rule-move-down-off span {
  display: none;
}
a.re-list-rule-move-up {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-up-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-move-up span {
  display: none;
}
a.re-list-rule-move-up-off {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/move-up-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-move-up-off span {
  display: none;
}
a.re-list-rule-help {
  float:right;
	background: transparent url('./images/rules_engine/re_rule/help-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin: 0px 3px 0 0;
}
a.re-list-rule-help span {
  display: none;
}


/* extra */
div.re-xtra-rule-title-plural {
  background: transparent url('./images/rules_engine/re_rule/title-plural.png') no-repeat 40px 20px;
  width: 90px;
  height: 50px;
}
div.re-xtra-rule-title-plural span {
  display: none;
}
div.re-xtra-rule-title-single {
  background: transparent url('./images/rules_engine/re_rule/title-single.png') no-repeat 40px 20px;
  width: 90px;
  height: 50px;
}
div.re-xtra-rule-title-single span {
  display: none;
}
.re-xtra-rule-preview {
  float:left;
  width: 210px;  
}
.re-xtra-rule-preview p {
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  padding: 1px 2px;
}
.re-xtra-rule-next-right {
  float:left;
	background: transparent url('./images/rules_engine/re_rule/next-right-18.png') no-repeat 10px 30px;
  width: 40px;
  height: 54px;  
}
.re-xtra-rule-next-down {
	background: transparent url('./images/rules_engine/re_rule/next-down-25.png') no-repeat 0px 7px;
  width: 40px;
  height: 40px;  
}
.re-xtra-rule-continue {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/start-pipeline-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-stop-failure {
  width: 155px;
	background: #FBE3E4 url('./images/rules_engine/re_rule/stop-failure-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-stop-success {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/stop-success-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.re-xtra-rule-start-workflow {
  width: 155px;
	background: #fffef0 url('./images/rules_engine/re_rule/start-workflow-18.png') no-repeat 165px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
select#re_rule_class_list {
  width: 240px;
  height: 30px;
  font: 18px/24px arial,sans-serif;
  background-color: #FFF;
  overflow: hidden;
}
.re-xtra-rule-list {
}
p.re-xtra-rule-name {
  float: left;
  font-size: 14px;
  line-height: 18px;
  width: 180px;
  height: 16px;
  overflow: hidden;
}

/* ************************************* */
/* PUBLICATIONS */
/* ************************************* */
div.re-menu-publication-show {
	background: transparent url('./images/rules_engine/re_publication/show-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #222;
  text-decoration: none;
}

div.re-xtra-publication-show-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}

/* ************************************* */
/* PROCESSES */
/* ************************************* */
.re-breadcrumbs .re-bc-process-list {
	background: transparent url('./images/rules_engine/re_process/list-25.png') no-repeat 0 4px;
	padding: 0 0 0 30px;
}

h3.re-hdr-process-show {
	background: transparent url('./images/rules_engine/re_process/list-25.png') no-repeat left 2px;
  padding: 0 0 0 30px;
}

div.re-menu-process-list {
	background: transparent url('./images/rules_engine/re_process/list-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #222;
  text-decoration: none;
}

div.re-xtra-process-list-pending {
  background: transparent url('./images/rules_engine/re_common/loading.gif') no-repeat 20px 4px;
  padding: 16px 0 0 50px;
  color: #696969;
}

a.re-xtra-process-next-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-process-next-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
a.re-xtra-process-prev-enabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
a.re-xtra-process-prev-disabled {
  float: right;
  background: transparent url('./images/rules_engine/re_common/list-prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}

.re-xtra-process-success {
  background: transparent url('./images/rules_engine/re_common/status-success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-process-error {
  background: transparent url('./images/rules_engine/re_common/status-error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-process-info {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-process-running {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.re-xtra-process-audit-success {
  background: transparent url('./images/rules_engine/re_common/status-success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-process-audit-error {
  background: transparent url('./images/rules_engine/re_common/status-error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-xtra-process-audit-info {
  background: transparent url('./images/rules_engine/re_common/status-info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

/*div.re-menu-process-list  {
  background: transparent url('./images/rules_engine/re_process/list-25.png') no-repeat left -1px;
  padding: 0 0 0 30px;
  color: #244A9F;
  text-decoration: none;
}

.re-process-success {
  background: transparent url('./images/rules_engine/re_process/success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-process-error {
  background: transparent url('./images/rules_engine/re_process/error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}
.re-process-info {
  background: transparent url('./images/rules_engine/re_process/info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.process-running {
  background: transparent url('./images/rules_engine/re_process/info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

#re_process_list_pending {
  background: transparent url('./images/rules_engine/re_process/loadingAnimation.gif') no-repeat 20px 10px;
  padding : 20px 0px 5px 15px;  
}
#re_process_list_pending h4 {
  background: transparent url('./images/rules_engine/re_process/list-25.png') no-repeat 0px 4px;
  padding: 5px 0 5px 30px;
  color: #bbb;
}

a.re-process-detail {
  color: #222;
  text-decoration: none;
  background-color: #222;
}
tr.re-process-row td, tr.re-process-row-odd td {
  background-color: #FFEBCD;
}
*/


/* generated from src/re_view_table.css */
table{
	margin:0;
	padding:0;
}
table td h2,
table td h3,
table td h4,
table td h5,
table td h6{
	padding: 0;
	margin: 0;
}

/* @group DATA TABLE */
table.data {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data th, table.data td {
  border:solid 1px #ccc;
	padding: 4px 3px 4px 3px;
}
table.data th {
	background-color: #D3E3B6;
  font-weight:bold;
  text-align:left;
}
table.data th.text-right,
table.data td.text-right {
  text-align:right;
}

table.data td {
  background-color:#fff;
}
table.data tr.odd td {
  background-color:#f2f2e5;
}
table.data td.highlight {
  border:2px solid #E8DC24; 
  font-weight: bold;
}
table.data tr.border-top td, table.data tr.border-top th {
  border-top: 2px solid #696969; 
}
table.data tr.border-bottom td, table.data tr.border-bottom th {
  border-bottom:2px solid #696969
}
table.data td.no-border {
  background-color: #fff;  
  border:none;
}
table.data td.no-border-top, table.data th.no-border-top {
  border-top:none;
}
table.data td.no-border-bottom, table.data th.no-border-bottom {
  border-bottom:none;
}
table.data td.no-border-left, table.data th.no-border-left {
	border-left:none;
}
table.data td.no-border-right, table.data th.no-border-right {
  border-right:none;
}

/* @end */

/* @group DATA ALTERNATIVE TABLE */
table.data-alternative {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data-alternative th, table.data-alternative td {
  border:solid 1px #dedede;;
	padding: 4px 3px 4px 3px;
}
table.data-alternative th {
	background-color: #f2f2e5;
  font-weight:bold;
}
table.data-alternative td {
  background-color:#fff;
}
table.data-alternative tr.odd td {
  background-color:#F1F1F1;
}
table.data-alternative td.highlight {
  border:2px solid #E8DC24; 
  font-weight: bold;
}
table.data-alternative tr.border-top td, table.data-alternative tr.border-top th {
  border-top: 2px solid #696969; 
}
table.data-alternative tr.border-bottom td, table.data-alternative tr.border-bottom th {
  border-bottom:2px solid #696969
}
table.data-alternative td.no-border {
  background-color: #fff;  
  border:none;
}
table.data-alternative td.no-border-top, table.data-alternative th.no-border-top {
  border-top:none;
}
table.data-alternative td.no-border-bottom, table.data-alternative th.no-border-bottom {
  border-bottom:none;
}
table.data-alternative td.no-border-left, table.data-alternative th.no-border-left {
	border-left:none;
}
table.data-alternative td.no-border-right, table.data-alternative th.no-border-right {
  border-right:none;
}

/* @end */
/* @group DATA LINE */
table.data-line {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data-line td {
  border-bottom:solid 1px #ccc;
	padding: 4px 3px 4px 3px;
}
table.data-line td {
  background-color:#fff;
}
table.data-line tr.odd td {
  background-color:#f2f2e5;
}

/* @end */

/* generated from src/re_view_navigate.css */
/* @group BREADCRUMBS */

.re-breadcrumbs {
	margin:0 0 5px 0;
	padding:0 10px;
	height:35px;
	line-height:35px;
	border-bottom:2px solid #ddd;
	color: #222;
}
.re-breadcrumbs a {
	float:left;
	height:35px;
	color: #222;
	font-size: 18px;	
  text-decoration: none;
}
.re-breadcrumbs a:hover {
	text-decoration: underline;
}
.re-breadcrumbs em {
	float:left;
	height:35px;
	font-weight: normal;
	font-size: 18px;	
}
.re-breadcrumbs span {
	float:left;
}
.re-breadcrumbs span.re-breadcrumbs-seperator {
	background:url(./images/re_view_navigate/breadcrumb.png) no-repeat 5px center;
	float:left;
	overflow:hidden;
	height:35px;
  padding:0 0 0 20px;
	width:0px;
	filter:alpha(opacity=90);
	opacity:0.9;
}

.re-breadcrumbs .re-breadcrumb-right {
	float:right;
	margin:0;
	padding:0px;
	text-align:left;
}

/* generated from src/re_view_form.css */
.re-form-field {
  margin: 0;
  padding: 0;
}


.re-form-label, .re-form-label-error{
	color: #305267;
	font-size: 14px;
	margin-top: 6px;
}
.re-form-label-error{
 color:#933;
}
.re-form-label .re-form-required,
.re-form-label-error .re-form-required {
	padding-left: 3px;
	color:#933;
}

.re-form-data, .re-form-data-error{
	color: #305267;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.re-form-data-error{
 color:#933;
}
.re-form-data .form-hint,
.re-form-data-error .form-hint
{
	display:inline-block;
	font-size: 12px;
  color: #305267;
  padding: 3px 5px 0 5px;
}
.re-form-data .form-text{
  display:inline-block;
	font-size: 18px;
	line-height: 20px;
	color: #222;
  padding: 0 5px;
}

.re-form-data .form-error-message,
.re-form-data-error .form-error-message {
	display:inline-block;
	font-size: 12px;
  color:#933;
  padding: 3px 5px 0 5px;
}

.re-form-disabled{
	color: #CCC;
}

/* overwrite bliueprint */
input[type=text], input[type=password], textarea, select {margin:4px 0 4px 0;padding:2px 3px;}
input[type=text], input[type=password], textarea, select {background-color:#fff; border:1px solid #bbb;}

label{
	font-weight: normal;
}
input{
	display:block;
	float: left;
	font-size: 14px;
}
textarea{
/*  font-family: "Lucida Grande","Lucida Sans Unicode",verdana,arial,helvetica,sans-serif;*/
	display:block;
	float: left;
	font-size: 14px;	
}
select{
	display:block;
	float: left;
	font-size: 14px;
}

.re-form-field-checkbox input[type=checkbox]{
  display:block;
  float:left;
}
.re-form-field-checkbox .form-text{
  margin-top: 2px;
}

.re-form-field-checkbox .form-text .re-form-label, 
.re-form-field-checkbox .form-text .re-form-label-error{
	margin-top: 0px;
}

.fieldWithErrors{/* Override the Rails Field Error*/
	display:block;
	float: left;
	color: #933;
	font-size: 14px;
}
.fieldWithErrors input, .fieldWithErrors textarea,
.re-form-data-error input, .re-form-data-error textarea,
.form-text-error input, .form-text-error textarea
{
	border-bottom:1px solid #933;
	border-right:1px solid #933;
}

.re-form-disabled .re-form-required,
.re-form-disabled label, 
.re-form-disabled .fieldWithErrors,
.re-form-disabled .formError
{
	color: #CCC;
}

/* generated from src/re_view_error.css */
.error, .notice, .success {
  font-size:16px;
  margin-bottom: 5px;
  padding: 5px 15px; 
}

a.re-alert-close {
  float: right;
  text-decoration: none;
	background: url('./images/re_view_error/re-alert-close.png') no-repeat 2px 2px;
  padding-left: 24px;
}
a.re-alert-close:hover {
/*  color: #000;*/
  color: #222;
  text-decoration: underline;
}

/* styling for  rails error messages : error_messages_for(:user, :post, :object_name => "monkey") */

#errorExplanation {
  background-color: #fcc;
/*  margin: 10px 3px 5px 3px;*/
  padding: 0;
  text-align: left;
  border: solid 1px #f66;
}

#errorExplanation h2 {
  display: none;
  background: #f66;
  color: #333;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0;
  background-color: #f66;
}

#errorExplanation ul {
  display: none;
  margin: 0;
  padding: 0 2px 4px 25px;
  list-style: disc;
}

#errorExplanation p {
  background: #fcc;
  color: #111;
  font-size: 14px;
  padding: 2px 5px;
  margin: 5px 0px 5px 0px;
}

#errorExplanation ul li {
  font-weight: bold;
  font-size:12px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* generated from src/re_view_button.css */
div.re-form-button {
  display: block;
  float: right;
  margin-top: 4px;
  margin-bottom: 1px;
}

a.re-form-button-gray,
a.re-form-button-blue,
a.re-form-button-green,
a.re-form-button-orange,
a.re-form-button-red
{
  display: block;
  font-size: 14px;      /* Change 13px as desired */
  font-weight: bold;  
  letter-spacing: -0.25px;
	line-height: 16px;    /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 24px;         /* Height of button background height */
	padding-left: 11px;   /* Width of left menu image */
	padding-right: 0px;   
	margin-left: 5px;
	text-decoration: none;
  text-align: center;
/*  margin-bottom: 5px;*/
}

a:link.re-form-button-gray, a:visited.re-form-button-gray, a:active.re-form-button-gray,
a:link.re-form-button-blue, a:visited.re-form-button-blue, a:active.re-form-button-blue,
a:link.re-form-button-green, a:visited.re-form-button-green, a:active.re-form-button-green,
a:link.re-form-button-orange, a:visited.re-form-button-orange, a:active.re-form-button-orange,
a:link.re-form-button-red, a:visited.re-form-button-red, a:active.re-form-button-red
{
	color: #494949; /*button text color*/
}

a.re-form-button-gray span,
a.re-form-button-blue span,
a.re-form-button-green span,
a.re-form-button-orange span,
a.re-form-button-red span
{
	display: block;
	padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.re-form-button-gray:hover,
a.re-form-button-blue:hover,
a.re-form-button-green:hover,
a.re-form-button-orange:hover,
a.re-form-button-red:hover
{ /* Hover state CSS */
	background-position: bottom left;
}

a.re-form-button-gray:hover span,
a.re-form-button-blue:hover span,
a.re-form-button-green:hover span,
a.re-form-button-orange:hover span,
a.re-form-button-red:hover span
{ /* Hover state CSS */	
	background-position: bottom right;
	color: black;
}

a.re-form-button-gray{ background: transparent url('./images/re_view_button/oval-gray-left.gif') no-repeat top left;}
a.re-form-button-blue{ background: transparent url('./images/re_view_button/oval-blue-left.gif') no-repeat top left;}
a.re-form-button-green{ background: transparent url('./images/re_view_button/oval-green-left.gif') no-repeat top left;}
a.re-form-button-orange{ background: transparent url('./images/re_view_button/oval-orange-left.gif') no-repeat top left;}
a.re-form-button-red{ background: transparent url('./images/re_view_button/oval-red-left.gif') no-repeat top left;}

a.re-form-button-gray span{ background: transparent url('./images/re_view_button/oval-gray-right.gif') no-repeat top right;}
a.re-form-button-blue span{ background: transparent url('./images/re_view_button/oval-blue-right.gif') no-repeat top right;}
a.re-form-button-green span{ background: transparent url('./images/re_view_button/oval-green-right.gif') no-repeat top right;}
a.re-form-button-orange span{ background: transparent url('./images/re_view_button/oval-orange-right.gif') no-repeat top right;}
a.re-form-button-red span{ background: transparent url('./images/re_view_button/oval-red-right.gif') no-repeat top right;}

a.button-checked{
	background: transparent url('./images/re_view_button/checked-on.gif') no-repeat 1px 1px;
/*	border: 1px solid #fff;*/
	width: 16px;
	height: 16px;
	float: left;
	padding: 0;
	margin: 0px 2px 0 0;
	font-size: 0px;
	color: #fff;
}
a.button-checked:hover	{ background-color: #696969; }

a.button-unchecked{
	background: transparent url('./images/re_view_button/checked-off.gif') no-repeat 1px 1px;
/*	border: 1px solid #fff;*/
	width: 16px;
	height: 16px;
	float: left;
	padding: 0;
	margin: 0px 2px 0 0;
	font-size: 0px;
	color: #fff;
}
a.button-unchecked:hover	{ background-color: #696969; }

a.re-add-link {
  display: block;
	background: url(./images/re_view_button/icon-add.png) left 2px no-repeat;
	text-decoration: none;
	font-weight: normal;	
	padding: 0 0 2px 24px;
  margin: 0;
}

a.re-remove-link {
  display: block;
	background: url(./images/re_view_button/icon-delete.png) top left no-repeat;
	text-decoration: none;
	font-weight: normal;
	padding: 2px 0 2px 24px;
  margin: 0;
}
/* generated from src/re_view_box.css */
.re-whitebox{
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	background: #FFFFFF url("./images/re_view_box/whitebox.jpg") no-repeat top left;
	height: 1%  
}
html>body .re-whitebox {
  height: auto;
}

.re-whitebox-content{
	margin-top: 0px;
	margin-right: 10px; 
	margin-bottom: 5px;
	margin-left: 15px;
	padding: 5px 0 0 0;
	text-align: left;
}

.re-shadowbox-outer{
  padding-bottom: 12px;
  background: #FFFFFF url("./images/re_view_box/shadowbox.png") no-repeat bottom left;
}

.re-shadowbox-inner{
  border-right: 1px solid #ccc;
  background-color: #FDF8B3;
  padding: 5px 15px 5px 15px;
}

.re-bluebox-header {
	color: #fff;
	background: #5b93ba;
	border: 1px #335871 solid; 
	padding: 2px;
	margin: 0;
}
.re-bluebox {
  border: 1px #4983a5 solid;
	padding: 2px;
	margin: 0;
}

.re-greenbox-header {
	color: #fff;
	background: #92b83c;
	border: 1px #92b83c solid; 
	padding: 2px;
	margin: 0;
}
.re-greenbox {
	border: 1px #92b83c solid;
	padding: 2px;
	margin: 0;
}

.re-redbox-header {
	color: #fff;
	background: #b43838;
	border: 1px #7c1e1e solid; 
	padding: 2px;
	margin: 0;
}
.re-redbox {
	border: 1px #7c1e1e solid;
	padding: 2px;
	margin: 0;
}

.re-dkgreenbox-header {
	color: #fff;
	background: #218868;
	border: 1px #548B54 solid; 
	padding: 2px;
	margin: 0;
}
.re-dkgreenbox {
	border: 1px #548B54 solid;
	padding: 2px;
	margin: 0;
}

.re-brownbox-header {
  background: #a8a388;  
  border-top: 1px solid #989377;
  border-right: 1px solid #989377;
  border-left: 1px solid #989377;
	padding: 2px;
	margin: 0;
}
.re-brownbox {
	background: #ece9da;
	border: 1px #d5d1ba solid;
	padding: 2px;
	margin: 0;
}

.re-yellowbox-header {
  background: #f3f1b1;
  border: 1px solid #f3f1b1;
	padding: 2px;
	margin: 0;
}
.re-yellowbox{
	background: #fffef0;
	border: 1px #f3f1b1 solid;
	padding: 2px;
	margin: 0;
}

.re-infobox {
	font-size: 13px;
	line-height: 16px;
	padding: 5px 3px;
  margin: 0 2px 0 15px;
	border: solid #ddd 5px;
}

/* generated from src/re_view.css */
/* CHANGE SOME OF THE BLUEPRINT DEFAULTS */
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #222;
  background: #2F323C;
  font-family: "Lucida Grande","Lucida Sans Unicode",verdana,arial,helvetica,sans-serif;
}

.container {
	background: #fff;
}

.re_container {
  min-height: 700px;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  color: #222;
}
h1 {
  font-size:36px;
  line-height:42px;
  margin: 0px 6px;
}
h2 {
  font-size:30px;
  line-height:36px;
  margin: 0px 6px;
}
h3 {
  font-size:24px;
  line-height:30px;
  margin: 0px 6px;
}
h4 {
  font-size:20px;
  line-height:24px;
  margin: 0px 6px;
}
h5 {
  font-size:18px;
  line-height:22px;
  margin: 0px 6px;
}
h6 {
  font-size:16px;
  line-height:20px;
  margin: 0px 6px;
}
p {
  font-size:14px;
  line-height:16px;
  padding-top:4px;
  padding-bottom:2px; 
  margin: 0px 6px;
}
hr {margin:0 0 2px;}

textarea {height:60px;padding:5px;}

/* DIV LOCATIONS */
.float-left {float:left;}
.float-right { float:right;}

/* TEST SIZES */
.megatext {font-size: 2.0em;}
.largetext {font-size: 1.5em;}
.midtext {font-size: 1.2em;}
.smalltext {font-size: 0.9em;}
.tinytext {font-size: 0.8em;}

/* SIMPLE COLOR SELECTION */
.warning, a.warning, a:visited.warning, .warning a {color: #9F0000}
.boldblack, a.boldblack, a:visited.boldblack, .boldblack a {color: #000; font-weight: 700}
.black, a.black, a:visited.black, .black a {color: #000}
.white, a.white, a:visited.white, .white a{color: #fff;}
.grey, a.grey, a:visited.grey, .grey a {color: #696969} 
.red, a.red, a:visited.red, .red a{color: #b43838}
.dkgreen, a.dkgreen, a:visited.dkgreen, .dkgreen a{color: #218868}
.blue, a.blue, a:visited.blue, .blue a{color: #244A9F}
.lightblue, a.lightblue, a:visited.lightblue, .lightblue a{color: #cce3f4;}
.green, a.green, a:visited.green, .green a{color: #92b83c}
.brown, a.brown, a:visited.brown, .brown a{color: #a8a388}

.no-top {border-top:0px solid #fff!important;}
.no-bottom {border-bottom:0px solid #fff!important;}
.no-margin {margin: 0!important;}
a.no-line, .no-line a {text-decoration:none;}

.prepend-top { margin-top:0.75em;}

.top-1     { padding-top: 1px; }
.top-2     { padding-top: 2px; }
.top-5     { padding-top: 5px; }
.top-10    { padding-top: 10px; }
.top-15    { padding-top: 15px; }
.top-20    { padding-top: 20px; }
.top-50    { padding-top: 50px; }
.top-100   { padding-top: 100px; }
.left-5    { padding-left: 5px; }
.left-10   { padding-left: 10px; }
.left-15   { padding-left: 15px; }
.left-20   { padding-left: 20px; }
.left-50   { padding-left: 50px; }
.left-100  { padding-left: 100px; }
.right-5   { padding-right: 5px; }
.right-10  { padding-right: 10px; }
.right-15  { padding-right: 15px; }
.right-20  { padding-right: 20px; }
.right-50  { padding-right: 50px; }
.right-100 { padding-right: 100px; }
.bottom-5  { padding-bottom: 5px; }
.bottom-10 { padding-bottom: 10px; }
.bottom-15 { padding-bottom: 15px; }
.bottom-20 { padding-bottom: 20px; }
.bottom-50 { padding-bottom: 50px; }
.bottom-100{ padding-bottom: 100px; }

