<% set_re_breadcrumbs link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"), '<span class="re-pipeline-new">New Pipeline</span>' %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render :partial => 'new' %>
    <div class="clear top-5"></div>
  </div>  
</div>  
<div class="clear"></div>