	<% @re_workflow.re_plans.each do |re_plan| %>
		<div class="clear top-2"></div>
		<h6>	
			<a href="#<%= re_plan.id %>" class="re-plan-preview float-left">
				<div class="re-xtra-workflow-preview"></div>
			</a>	
			<p class="float-left">
				<%= re_plan.title %>
			</p>	
		</h6>	
		<div class="clear top-2"></div>

		<hr/>
	<% end %>
