<h4>
	<div class="re-menu-workflow-plan" id="re_menu_workflow_plan_<%= @re_workflow.id %>">
		Plans Using Workflow
	</div>	
</h4>		
<div class="clear"></div>    

<div id="re_workflow_plan_pending">
	<div class="re-xtra-workflow-plan-pending">
		Updating Plans
	</div>	
</div>
<div id="re_workflow_plan">
</div>
