<% local_hide = local_assigns[:hide] && hide  %>

<div id="re_rule_empty" style="<%= local_hide ?  'display:none' : '' %>">
  <div class="re-redbox-header"><h4 class="white">No Workflow Rules</h4></div>   
  <div class="re-redbox no-top">
    <div class="clear top-5">
      <h5>Add Rules to the Workflow.</h5>
			<p class="left-10">Rules are the unique decisions factors.</p> 
    </div>  
  </div>
	<div class="clear"></div>      
</div>  

