<% set_re_javascript_include ['rules_engine/re_workflow_add', 'rules_engine/re_workflow_preview'] %>
<% set_re_breadcrumbs link_to("All Workflows", re_workflows_path, :class => "re-bc-workflow-list"), 
											'<span class="re-bc-plan-list">Add Workflow</span>' %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render '/re_workflows/add_prepare', :re_plan_id => "0" %>
    <div class="clear top-5"></div>
  </div>  
</div>  
<div class="clear"></div>