<% set_re_breadcrumbs link_to("All Workflows", re_workflows_path, :class => "re-bc-workflow-list"), '<span class="re-bc-workflow-show">Preview Workflow</span>' %>

<div class="prepend-1 span-22 append-1">      
	
	<%= render '/re_workflows/preview' %>
</div>	
