<div class="clear span-12">
  <h2 class="re-rule-class-help"> Help : <%= @rule_class.options[:display_name] %></h2>
  <div class="clear top-10"></div>

  <% re_whitebox do %>      
  
    <%= render(@rule_class.options[:help_partial]) %>    
    
    <div class="clear"></div>
	  <%= re_button_link_red('Close', change_re_pipeline_path(@re_pipeline), :id => "re_rule_help_cancel") %>
  <% end %>
</div>  
<div class="clear"></div>