<div id="pipeline_rules_empty" style="<%= re_pipeline.re_rules.empty? ?  '' : 'display:none' %>">
  <div class="redbox-header"><h3 class="white">No Pipeline Rules</h3></div>   
  <div class="redbox no-top">
    <div class="clear top-5 prepend-1 append-1">
      <h4>Add rules to the pipeline.</h4>
			<p class="left-10">Rules are the unique decisions made within a pipeline.</p> 
    </div>  
  </div>    
  <div class="clear top-5"></div>    
</div>  
<div class="clear"></div>  

