<% id = local_assigns[:position] ? position : 'NEW_RECORD'  %>

<div id="complex_<%=id%>">
  <%= re_text_field "Words to blacklist", "complex[#{id}][word]",  
                                            local_assigns[:word] ? word : '',
                                            :size => 40, 
                                            :required => id == 0, 
                                            :span => '4x12', 
                                            :hint => render_remove_link("Remove", "complex[#{id}]", id) %>
        
  <%= render_delete_field("complex[#{id}]", id) %>      
</div>
