<%% position = 0 %>
<%% (@re_rule.rule.words || []).each do | word | %>  
  <%% f.fields_for :rule_data, {:first => false} do |frd| %>
    <%%= render '/re_rule_definitions/<%=rule_name%>/word', :f => frd, :position => position, :word => word %>
    <%% position += 1 %>        
  <%% end %>
<%% end %>  
<%% if position == 0 %>
  <%% f.fields_for :rule_data, {:first => false} do |frd| %>
    <%%= render '/re_rule_definitions/<%=rule_name%>/word', :f => frd, :position => position %>      
  <%% end %>
<%% end %>

<div id="new_position_<%=rule_name%>"></div>
<%%= re_form_text "", re_add_link('Add another word to match', '<%=rule_name%>') %>    

