<% local_hide = local_assigns[:hide] && hide  %>

<div id="re_job_list_empty" style="<%= local_hide ?  'display:none' : '' %>">
  <!-- <div class="re-redbox-header"><h5 class="white">No jobs have been run</h5></div>    -->
  <div class="re-redbox">
    <h5 class="left-5 red">
			No Jobs have been run.
		</h5>
		
  </div>    
  <div class="clear"></div>    
</div>  
<div class="clear"></div>  

