<% local_hide = local_assigns[:hide] && hide  %>

<div id="re_job_list_empty" style="<%= local_hide ?  'display:none' : '' %>">
  <div class="re-redbox-header"><h4 class="white">No Jobs Created</h4></div>   
  <div class="re-redbox no-top">
    <h4 class="left-5">Jobs are added when run.</h4>
  </div>    
  <div class="clear"></div>    
</div>  
<div class="clear"></div>  

