<% local_hide = local_assigns[:hide] && hide  %>

<div id="re_job_list_empty" style="<%= local_hide ?  'display:none' : '' %>">
  <!-- <div class="re-redbox-header"><h4 class="white">No jobs have been run</h4></div>    -->
  <div class="re-redbox">
    <h4 class="left-5 red">No Jobs have been run.</h4>
  </div>    
  <div class="clear"></div>    
</div>  
<div class="clear"></div>  

