<% set_re_javascript_include 're_jobs' %>
<% set_re_subnav 'Job Audit', 
								link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list") %>


<div class="prepend-1 span-22 append-1">      
	
	<%= render '/re_jobs/empty', :hide => !@re_jobs.empty? %>

	<div class="re-jobs-index-box" id="re_job_list_pending" style="display:none">
		<h3 class="left-20">Updating Job List</h3>
	</div>	
	 
	<div class="re-jobs-index-box" id="re_job_list" style="<%=@re_jobs.empty? ? 'display:none' : ''%>">
		<%= render '/re_jobs/index' %>
	</div>

</div>  
<div class="clear top-10"></div>
