<% local_hide = local_assigns[:hide] && hide  %>

<div class="span-22" id="re_pipelines_empty" style="<%= local_hide ?  'display:none' : '' %>">
  <div class="re-redbox-header"><h3 class="white">No Pipelines Defined</h3></div>   
  <div class="re-redbox no-top">
    <div class="clear top-5 prepend-1 append-1">
      <h4>Create a new pipeline and define the rules.</h4>
			<p class="left-10">Pipelines are groups of rules that are executed in succession.</p> 
    </div>  
  </div>    
  <div class="clear top-5"></div>  
</div>
<div class="clear"></div>  
