<% set_re_javascript_include ['re_pipeline_index', 're_pipeline_new', 're_job_index', 're_pipeline_index_jobs'] %>
<% if rules_engine_editor? %>
	<% set_re_breadcrumbs_right link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"),
 														link_to("New Pipeline", new_re_pipeline_path, :class => "re-pipeline-new dkgreen", :id => "re_pipeline_new")%>
<% else %>
	<% set_re_breadcrumbs link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list") %>
<% end %>
<div class="prepend-1 span-16 border">      
  <%= render 'empty', :hide => !@re_pipelines.empty? %>

  <div class="clear" id="re_pipeline_index"></div>
  <% @re_pipelines.each do | re_pipeline | %>
    <%= render 'index', :re_pipeline => re_pipeline %>
  <% end %>  

</div>
<div class="span-7 last">      
	<div class="top-5"></div>
	
	<h3 class="re-job-list">
		<%= link_to("Pipeline Job Audit", re_jobs_path) %>
	</h3>
	
  <%= render '/re_jobs/empty', :hide => true %>
	
	<div id="re_job_list_pending" class="re-infobox">
		<h3 class="left-20">Updating Job List</h3>
	</div>	

	<div id="re_job_list">
	</div>
	
	<div class="clear"></div>    
</div>  
<div class="clear"></div>
