/* CHANGE THE RULES MENU */
.rules-menu .shadowbox-outer{
  padding-bottom: 15px;
}

/* @group ALERTS */
.growl-error {
	font-size: 1.4em;
	background: #fff6bf url("./re_pipeline/exclamation.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #ffd324;
	margin-left: auto;
	margin-right: auto;
}	

.growl-success {
	font-size: 1.4em;
	background: #fff6bf url("./re_pipeline/accept.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #92b83c;
  margin-left: auto;
  margin-right: auto;
}	

.growl-notice {
	font-size: 1.4em;
	background: #fff6bf url("./re_pipeline/exclamation.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #ffd324;
	margin-left: auto;
	margin-right: auto;
}	

.alert-notice span {
  color : #b43838;
}

/* popup windows */
#tb_temp_frame {
  margin-top: 10px;
  display : none;
}
#TB_ajaxContent{
	padding:15px 10px 5px 10px;
}

/* subnav title items */
.re-subnavitems li a.pipeline-new {
	background: transparent url('/images/re_pipeline/new-25.png') no-repeat 0 2px;
	padding: 0px 0 0 28px;
}
.re-subnavitems li a.pipeline-show {
	background: transparent url('/images/re_pipeline/show-25.png') no-repeat 0 2px;
	padding: 0px 0 0 28px;
}
.re-subnavitems li a.pipeline-change {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat 0 2px;
	padding: 0px 0 0 28px;
}
.re-subnavitems li a.pipeline-list {
	background: transparent url('/images/re_pipeline/list-25.png') no-repeat 0 2px;
	padding: 0px 0 0 28px;
}

/* sub headers*/
h2.pipeline-alert {
	background: transparent url('/images/re_pipeline/alert-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-list {
	background: transparent url('/images/re_pipeline/list-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-new {
	background: transparent url('/images/re_pipeline/new-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-edit {
	background: transparent url('/images/re_pipeline/edit-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-change {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-activate {
	background: transparent url('/images/re_pipeline/activate-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-deactivate {
	background: transparent url('/images/re_pipeline/deactivate-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-revert {
	background: transparent url('/images/re_pipeline/revert-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h2.pipeline-delete {
	background: transparent url('/images/re_pipeline/destroy-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}

/* pipeline-status*/
h3.pipeline-status-draft {
	background: transparent url('/images/re_pipeline/draft-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.pipeline-status-changed {
	background: transparent url('/images/re_pipeline/changed-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.pipeline-status-current {
	background: transparent url('/images/re_pipeline/current-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
h3.pipeline-status-verify {
	background: transparent url('/images/re_pipeline/verify-25.png') no-repeat left top;
  padding: 0px 0 0 28px;
}
/* pipeline status text  */
em.pipeline-status-draft {
  color: #696969;
}
em.pipeline-status-changed {
  color: #92b83c;
}
em.pipeline-status-current {
  color: #218868;
}
em.pipeline-status-verify {
  color: #b43838;
}

/* pipeline actions */
h3.pipeline-show {
  padding: 0;
}
h3.pipeline-show a {
	background: transparent url('/images/re_pipeline/show-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #92b83c;
  text-decoration: none;
}
h3.pipeline-change {
  padding: 0;
}
h3.pipeline-change a {
	background: transparent url('/images/re_pipeline/change-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #218868;
  text-decoration: none;
}
h3.pipeline-edit {
  padding: 0;
}
h3.pipeline-edit a {
	background: transparent url('/images/re_pipeline/edit-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #218868;
  text-decoration: none;
}
h3.pipeline-activate {
  padding: 0;
}
h3.pipeline-activate a {
	background: transparent url('/images/re_pipeline/activate-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #92b83c;
  text-decoration: none;
}
h3.pipeline-deactivate {
  padding: 0;
}
h3.pipeline-deactivate a {
	background: transparent url('/images/re_pipeline/deactivate-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}
h3.pipeline-revert {
  padding: 0;
}
h3.pipeline-revert a {
	background: transparent url('/images/re_pipeline/revert-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}
h3.pipeline-delete {
  padding: 0;
}
h3.pipeline-delete a {
	background: transparent url('/images/re_pipeline/destroy-25.png') no-repeat left -1px;
  padding: 0px 0 0 28px;
  color: #b43838;
  text-decoration: none;
}

a.pipeline-rule-list-toggle {
  text-decoration: none;
}
div.pipeline-rule-list-right {
	background: transparent url('/images/re_pipeline/list-right.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
  color: #696969;
}
div.pipeline-rule-list-down {
	background: transparent url('/images/re_pipeline/list-down.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
  color: #696969;
}

/* rules */
h2.rule-class-new {
	background: transparent url('/images/re_rule_class/new-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}
h2.rule-class-help {
	background: transparent url('/images/re_rule_class/help-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}
h2.rule-edit {
	background: transparent url('/images/re_rule/edit-25.png') no-repeat left top;
  padding: 0px 0 0 28px;  
}

.rule-show div.rule-status-valid {
	background: transparent url('/images/re_rule/valid-18.png') no-repeat 2px 2px;
  padding: 2px 0 4px 24px;
}
.rule-show div.rule-status-verify {
	background: #FBE3E4 url('/images/re_rule/verify-18.png') no-repeat 2px 2px;
  padding: 2px 0 4px 24px;
}
.rule-change h3 { 
  margin: 0;
  padding: 0;
}
.rule-change div.rule-status-valid {
	background: transparent url('/images/re_rule/valid-25.png') no-repeat 2px 2px;
  padding: 2px 0 4px 31px;
}
.rule-change div.rule-status-verify {
	background: #FBE3E4 url('/images/re_rule/verify-25.png') no-repeat 2px 2px;
  padding: 2px 0 4px 31px;
}
.rule-next-change {
	background: transparent url('/images/re_rule/next-change-25.png') no-repeat 0px 7px;
  width: 40px;
  height: 40px;  
}
.rule-next-show {
	background: transparent url('/images/re_rule/next-show-18.png') no-repeat 0px 30px;
  width: 24px;
  height: 54px;  
}
.rule-continue {
  width: 145px;
	background: #fffef0 url('/images/re_rule/next-show-18.png') no-repeat 155px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.rule-stop-failure {
  width: 145px;
	background: #FBE3E4 url('/images/re_rule/stop-failure-18.png') no-repeat 155px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.rule-stop-success {
  width: 145px;
	background: #fffef0 url('/images/re_rule/stop-success-18.png') no-repeat 155px 2px;
	font-weight: bold;
	border: 1px #7c1e1e solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
.rule-goto-pipeline {
  width: 145px;
	background: #fffef0 url('/images/re_rule/goto-pipeline-18.png') no-repeat 155px 2px;
	font-weight: bold;
	border: 1px #92b83c solid; 
	padding: 3px 24px 3px 6px;
	margin: 0 2px 4px 2px;  
}
a.rule-edit {
  float:right;
	background: transparent url('/images/re_rule/edit-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
}
a.rule-edit span {
  display: none;
}
a.rule-delete {
  float:right;
	background: transparent url('/images/re_rule/destroy-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
}
a.rule-delete span {
  display: none;
}
a.rule-move-down {
  float:right;
	background: transparent url('/images/re_rule/move-down-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 20px;
}
a.rule-move-down span {
  display: none;
}
a.rule-move-down-off {
  float:right;
	background: transparent url('/images/re_rule/move-down-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 20px;
}
a.rule-move-down-off span {
  display: none;
}
a.rule-move-up {
  float:right;
	background: transparent url('/images/re_rule/move-up-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 3px;
}
a.rule-move-up span {
  display: none;
}
a.rule-move-up-off {
  float:right;
	background: transparent url('/images/re_rule/move-up-off-25.png') no-repeat 0px 0px;
  width: 25px;
  height: 25px;  
  margin-right: 3px;
}
a.rule-move-up-off span {
  display: none;
}


/* rule-classes */
a.rule-class-list-toggle {
  text-decoration: none;
}
h5.rule-class-list-right {
	background: transparent url('/images/re_rule_class/list-right.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
}
h5.rule-class-list-down {
	background: transparent url('/images/re_rule_class/list-down.png') no-repeat 0px 6px;
  padding: 2px 0 4px 12px;
}
.rule-class-list h5 {
  float: left;
}
a.rule-class-new {
  float: right;
	background: transparent url('/images/re_rule_class/add-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.rule-class-new span {
  display: none;
}
a.rule-class-help {
  float: right;
	background: transparent url('/images/re_rule_class/help-14.png') no-repeat 4px 6px;
  width: 20px;
  height: 20px;
}
a.rule-class-help span {
  display: none;
}
.rule-class-list p {
  clear: both;
  padding-left: 12px;
}

/* jobs */
#job_list h3 {
  color: #244A9F;
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 4px;
  padding: 5px 0 5px 32px;
}
.job-show h3 {
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 0px;
  padding: 0px 0 5px 32px;
}

#job_list_empty h3 {
  font-size:16px;
  line-height:18px;
  font-weight:normal;
  padding-top:4px;
  padding-bottom:3px; 
  margin: 0px 3px;
}

#job_list_empty h4 {
  font-size:16px;
  line-height:18px;
  font-weight:normal;
  padding-top:4px;
  padding-bottom:3px; 
  margin: 0px 3px;
}

#job_list_pending {
  background: transparent url('/images/re_job/loadingAnimation.gif') no-repeat 20px 10px;
  padding : 20px 0px 5px 15px;  
}
#job_list_pending h3 {
  background: transparent url('/images/re_job/list-25.png') no-repeat 0px 4px;
  padding: 5px 0 5px 32px;
  color: #bbb;
}
.job-success {
	background: transparent url('/images/re_job/success-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.job-error {
	background: transparent url('/images/re_job/error-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

.job-running {
	background: transparent url('/images/re_job/info-14.png') no-repeat 0px 2px;
  height: 16px;  
  padding-left: 20px;
}

#job_audit_table a,
#job_audit_table a:visited,
#job_table a,
#job_table a:visited  {
color:#666666;
}


.job-page-next-enabled {
  float: right;
  background: transparent url('/images/re_job/next-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
.job-page-next-disabled {
  float: right;
  background: transparent url('/images/re_job/next-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 5px 0 2px;
}
.job-page-prev-enabled {
  float: right;
  background: transparent url('/images/re_job/prev-enabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}
.job-page-prev-disabled {
  float: right;
  background: transparent url('/images/re_job/prev-disabled-14.png') no-repeat 0px 0px;
  height: 16px;  
  width: 16px;  
  padding: 0 2px 0 5px;
}

a.job-goto {
  background: transparent url('/images/re_job/goto-16.png') no-repeat top right;
  padding: 0px 20px 0px 0px;
}

.jobs-index {  
  border-top: 10px solid #E0E5E8;
}
.jobs-index h1{  
  font-size: 32px;
  padding: 0 0 0 20px;
  color: #8a1f11;
}
.jobs-index-box {
	border: solid #ddd 10px;
	margin: 0 2px;
}
a.pipeline-job-detail {
  background: transparent url('/images/re_job/list-18.png') no-repeat 0px 0px;  
  height: 16px;  
  width: 16px;  
  padding: 0px 0px 0px 20px;
}

