/* @group ALERTS */
.growl-error {
	font-size: 1.4em;
	background: #fff6bf url("./re_view_error/exclamation.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #ffd324;
	margin-left: auto;
	margin-right: auto;
}	

.growl-success {
	font-size: 1.4em;
	background: #fff6bf url("./re_view_error/accept.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #92b83c;
  margin-left: auto;
  margin-right: auto;
}	

.growl-notice {
	font-size: 1.4em;
	background: #fff6bf url("./re_pipeline/exclamation.png") center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 0px 5px 45px;
	border-bottom: 2px solid #ffd324;
	margin-left: auto;
	margin-right: auto;
}	


/* styling for  rails error messages : error_messages_for(:user, :post, :object_name => "monkey") */

#errorExplanation {
  background-color: #fcc;
/*  margin: 10px 3px 5px 3px;*/
  padding: 0;
  text-align: left;
  border: solid 1px #f66;
}

#errorExplanation h2 {
  display: none;
  background: #f66;
  color: #333;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0;
  background-color: #f66;
}

#errorExplanation ul {
  display: none;
  margin: 0;
  padding: 0 2px 4px 25px;
  list-style: disc;
}

#errorExplanation p {
  background: #fcc;
  color: #111;
  font-size: 14px;
  padding: 2px 5px;
  margin: 5px 0px 5px 0px;
}

#errorExplanation ul li {
  font-weight: bold;
  font-size:12px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
