/* @group BREADCRUMBS */

.re-breadcrumbs {
	overflow:hidden;
	margin:0 0px 0 0px;
	padding:0;
	height:30px;
	line-height:30px;
	border:1px solid #eee;
	color: #222;
}
.re-breadcrumbs a {
	float:left;
	overflow:hidden;
	height:30px;
	color: #222;
	padding:0 8px;
	font-size: 16px;	
  text-decoration: none;
}
.re-breadcrumbs a:hover {
	background:#fff;
	text-decoration: underline;
}
.re-breadcrumbs em {
	float:left;
	overflow:hidden;
	height:30px;
  padding:0 8px;
	font-weight: normal;
	font-size: 16px;	
}
.re-breadcrumbs span {
	background:url(./re_view_navigate/breadcrumb.png) no-repeat left center;
	float:left;
	overflow:hidden;
	height:30px;
  padding:0 0 0 10px;
	width:0px;
	filter:alpha(opacity=40);
	opacity:0.4;
}

.re-breadcrumbs .re-breadcrumb-right {
	float:right;
	margin:0;
	padding:0px;
	text-align:left;
}

.re-subnav {
  background:url("./re_view_navigate/subnav-bg.jpg") repeat-x scroll 0 0 #E0E5E8;
  color:#000000;
  height:36px;
  margin:0;
  padding:0;
}
.re-subnavheading {
  float:left;
  padding-top: 10px;
  color: #8a1f11; 
}
h1.re-subnavheading {
  font-size: 32px;
  padding-left: 20px;
}
.re-subnavitems {
  float:right;
  background:url(./re_view_navigate/subnavitems-bg.gif) no-repeat top right;
  height:46px;
  width:456px;
  font-size:14px;
  padding:6px 16px 0 0;
  text-align:right;
}
.re-subnavitems ul {
  list-style:none;
  display:inline;
}
.re-subnavitems li {
  display:inline;
}
.re-subnavitems li strong {
  display: block;
  float: right;
  line-height: 28px;
  padding: 0 0 0 8px;
}
.re-subnavitems li a {
  display: block;
  padding: 0;
  text-decoration:none; 
  color:#CB0E22; 
}
