/* CHANGE SOME OF THE BLUEPRINT DEFAULTS */
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #222;
  background: #2F323C;
  font-family: "Lucida Grande","Lucida Sans Unicode",verdana,arial,helvetica,sans-serif;
}

.container {
	background: #fff;
}

.re_container {
  min-height: 700px;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  color: #222;
}
h1 {
  font-size:36px;
  line-height:42px;
  margin: 0px 6px;
}
h2 {
  font-size:30px;
  line-height:36px;
  margin: 0px 6px;
}
h3 {
  font-size:24px;
  line-height:30px;
  margin: 0px 6px;
}
h4 {
  font-size:20px;
  line-height:24px;
  margin: 0px 6px;
}
h5 {
  font-size:18px;
  line-height:22px;
  margin: 0px 6px;
}
h6 {
  font-size:16px;
  line-height:20px;
  margin: 0px 6px;
}
p {
  font-size:14px;
  line-height:16px;
  padding-top:4px;
  padding-bottom:2px; 
  margin: 0px 6px;
}
hr {margin:0 0 2px;}

textarea {height:60px;padding:5px;}

/* DIV LOCATIONS */
.float-left {float:left;}
.float-right { float:right;}

/* TEST SIZES */
.megatext {font-size: 2.0em;}
.largetext {font-size: 1.5em;}
.midtext {font-size: 1.2em;}
.smalltext {font-size: 0.9em;}
.tinytext {font-size: 0.8em;}

/* SIMPLE COLOR SELECTION */
.warning, a.warning, a:visited.warning, .warning a {color: #9F0000}
.boldblack, a.boldblack, a:visited.boldblack, .boldblack a {color: #000; font-weight: 700}
.black, a.black, a:visited.black, .black a {color: #000}
.white, a.white, a:visited.white, .white a{color: #fff;}
.grey, a.grey, a:visited.grey, .grey a {color: #696969} 
.red, a.red, a:visited.red, .red a{color: #b43838}
.dkgreen, a.dkgreen, a:visited.dkgreen, .dkgreen a{color: #218868}
.blue, a.blue, a:visited.blue, .blue a{color: #244A9F}
.lightblue, a.lightblue, a:visited.lightblue, .lightblue a{color: #cce3f4;}
.green, a.green, a:visited.green, .green a{color: #92b83c}
.brown, a.brown, a:visited.brown, .brown a{color: #a8a388}

.no-top {border-top:0px solid #fff!important;}
.no-bottom {border-bottom:0px solid #fff!important;}
.no-margin {margin: 0!important;}
a.no-line, .no-line a {text-decoration:none;}

.prepend-top { margin-top:0.75em;}

.top-1     { padding-top: 1px; }
.top-2     { padding-top: 2px; }
.top-5     { padding-top: 5px; }
.top-10    { padding-top: 10px; }
.top-15    { padding-top: 15px; }
.top-20    { padding-top: 20px; }
.top-50    { padding-top: 50px; }
.top-100   { padding-top: 100px; }
.left-5    { padding-left: 5px; }
.left-10   { padding-left: 10px; }
.left-15   { padding-left: 15px; }
.left-20   { padding-left: 20px; }
.left-50   { padding-left: 50px; }
.left-100  { padding-left: 100px; }
.right-5   { padding-right: 5px; }
.right-10  { padding-right: 10px; }
.right-15  { padding-right: 15px; }
.right-20  { padding-right: 20px; }
.right-50  { padding-right: 50px; }
.right-100 { padding-right: 100px; }
.bottom-5  { padding-bottom: 5px; }
.bottom-10 { padding-bottom: 10px; }
.bottom-15 { padding-bottom: 15px; }
.bottom-20 { padding-bottom: 20px; }
.bottom-50 { padding-bottom: 50px; }
.bottom-100{ padding-bottom: 100px; }
