table{
	margin:0;
	padding:0;
}
table td h2,
table td h3,
table td h4,
table td h5,
table td h6{
	padding: 0;
	margin: 0;
}

/* @group DATA TABLE */
table.data {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data th, table.data td {
  border:solid 1px #ccc;
	padding: 4px 3px 4px 3px;
}
table.data th {
	background-color: #D3E3B6;
  font-weight:bold;
  text-align:left;
}
table.data th.text-right,
table.data td.text-right {
  text-align:right;
}

table.data td {
  background-color:#fff;
}
table.data tr.odd td {
  background-color:#f2f2e5;
}
table.data td.highlight {
  border:2px solid #E8DC24; 
  font-weight: bold;
}
table.data tr.border-top td, table.data tr.border-top th {
  border-top: 2px solid #696969; 
}
table.data tr.border-bottom td, table.data tr.border-bottom th {
  border-bottom:2px solid #696969
}
table.data td.no-border {
  background-color: #fff;  
  border:none;
}
table.data td.no-border-top, table.data th.no-border-top {
  border-top:none;
}
table.data td.no-border-bottom, table.data th.no-border-bottom {
  border-bottom:none;
}
table.data td.no-border-left, table.data th.no-border-left {
	border-left:none;
}
table.data td.no-border-right, table.data th.no-border-right {
  border-right:none;
}

/* @end */

/* @group DATA ALTERNATIVE TABLE */
table.data-alternative {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data-alternative th, table.data-alternative td {
  border:solid 1px #dedede;;
	padding: 4px 3px 4px 3px;
}
table.data-alternative th {
	background-color: #f2f2e5;
  font-weight:bold;
}
table.data-alternative td {
  background-color:#fff;
}
table.data-alternative tr.odd td {
  background-color:#F1F1F1;
}
table.data-alternative td.highlight {
  border:2px solid #E8DC24; 
  font-weight: bold;
}
table.data-alternative tr.border-top td, table.data-alternative tr.border-top th {
  border-top: 2px solid #696969; 
}
table.data-alternative tr.border-bottom td, table.data-alternative tr.border-bottom th {
  border-bottom:2px solid #696969
}
table.data-alternative td.no-border {
  background-color: #fff;  
  border:none;
}
table.data-alternative td.no-border-top, table.data-alternative th.no-border-top {
  border-top:none;
}
table.data-alternative td.no-border-bottom, table.data-alternative th.no-border-bottom {
  border-bottom:none;
}
table.data-alternative td.no-border-left, table.data-alternative th.no-border-left {
	border-left:none;
}
table.data-alternative td.no-border-right, table.data-alternative th.no-border-right {
  border-right:none;
}

/* @end */
/* @group DATA LINE */
table.data-line {
  border-collapse:collapse;
  empty-cells:show;
  margin-bottom:0;
  width:100%;
}
table.data-line td {
  border-bottom:solid 1px #ccc;
	padding: 4px 3px 4px 3px;
}
table.data-line td {
  background-color:#fff;
}
table.data-line tr.odd td {
  background-color:#f2f2e5;
}

/* @end */
