<% set_javascript_include 're_pipeline_jobs' %>
<% set_subnav @re_pipeline.title, 
              link_to("All Pipelines", re_pipelines_path, :class => "pipeline-list"), 
              link_to("Show Pipeline", re_pipeline_path(@re_pipeline), :class => "pipeline-show") %>

<div class="prepend-1 span-22 append-1">      
  <div class="infobox">

	  <%= render '/re_pipeline_jobs/empty', :hide => true %>
	
		<div id="job_list_pending" class="infobox">
			<h3 class="left-20">Updating Job List</h3>
			<a id="job_list_pipeline" href="#<%=  @re_pipeline.id %>"/>
		</div>	

		<div id="job_list">
		</div>
   <div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>