<% set_re_javascript_include ['rules_engine/re_job_index'] %>
<% set_re_breadcrumbs link_to("All Pipelines", re_pipelines_path, :class => "re-pipeline-list"), 
											link_to("View Pipeline", re_pipeline_path(@re_pipeline), :class => "re-pipeline-show"),
											'<span class="re-job-list">Pipeline Jobs</span>' %>

<div class="prepend-1 span-22 append-1">      
	
	<%= render '/re_jobs/empty', :hide => !@re_jobs.empty? %>

	<div style="<%=@re_jobs.empty? ? 'display:none' : ''%>">
		<%= render :partial => '/re_jobs/index_large' %>
	</div>

</div>  
<div class="clear"></div>
