<% plan_status = @re_plan.plan_status %>

<% if plan_status == RePlan::PLAN_STATUS_DRAFT && !@re_plan.plan_error %>
  <h4>
    <%= link_to("Publish Plan", "##{@re_plan.id}", :id => "re_plan_publish", :class => "re-menu-plan-publish") %>
  </h4>    
	<div class="clear top-5"></div>
<% end %>  
<% if plan_status == RePlan::PLAN_STATUS_CHANGED && !@re_plan.plan_error %>
  <h4>
    <%= link_to("Publish Changes", "##{@re_plan.id}", :id => "re_plan_publish", :class => "re-menu-plan-publish") %>
  </h4>    
	<div class="clear top-5"></div>
<% end %>  

<% if plan_status == RePlan::PLAN_STATUS_CHANGED %>
  <h4>
    <%= link_to("Discard Changes", "##{@re_plan.id}", :id => "re_plan_revert", :class => "re-menu-plan-revert") %>
  </h4>    
	<div class="clear top-5"></div>
<% end %>  

<h4>
  <%= link_to("Delete Plan", "##{@re_plan.id}", :id => "re_plan_delete", :class => "re-menu-plan-delete") %>
</h4>    
<div class="clear top-5"></div>
