<div id="re_workflow_empty" style="<%= re_plan.re_workflows.empty? ?  '' : 'display:none' %>">
  <div class="re-redbox-header"><h4 class="white">No Plan Workflows</h4></div>   
  <div class="re-redbox no-top">
    <div class="clear top-5">
      <h5>Add Workflows to the Plan.</h5>
			<p class="left-10">Workflows are the unique decisions made within a plan.</p> 
    </div>  
  </div>    
  <div class="clear"></div>    
</div>  
<div class="clear"></div>  

