<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
										link_to("Edit Plan", change_re_plan_path(@re_plan), :class => "re-bc-plan-change"), 
											'<span class="re-bc-plan-edit">Edit Details</span>' %>

<div class="prepend-1 span-22 append-1">      
  <div class="re-infobox">
    <%= render 'edit' %>
    <div class="clear top-5"></div>
  </div>  
</div>  
<div class="clear"></div>