<% set_re_javascript_include ['rules_engine/re_plan_preview', 'rules_engine/re_plan_new', 'rules_engine/re_process_index', 'rules_engine/re_process_show'] %>
<% set_re_breadcrumbs_right link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
														link_to("<em>All Workflows</em>", re_workflows_path, :class => "re-bc-workflow-list blue")%>

<div class="span-1">
	<div class="re-xtra-plan-title-plural"><span>plans</span></div>
</div>
<div class="span-16 border">      
	<%= render '/re_plans/empty', :hide => !@re_plans.empty? %>

	<div id="re_plan_index">
		<% @re_plans.each do | re_plan | %>
	  	<%= render '/re_plans/index', :re_plan => re_plan %>
	 <% end %>  
	</div>
</div>
<div class="span-7 last">      
	<div class="clear top-5"></div>
	
	<% if rules_engine_editor?%>
		<h4>
			<%= link_to("New Plan", new_re_plan_path, :id => "re_plan_new", :class => "re-menu-plan-new") %>
		</h4>	
		<div class="clear top-5"></div>

		<div class="clear top-20"></div>
		<hr/>
		<div class="clear top-5"></div>
	<% end %>	

	<%= render '/re_processes/index_prepare', :re_plan_id => 0 %>	
	<div class="clear"></div>    
</div>  
