<%# set_re_javascript_include ['rules_engine/re_process_index', 'rules_engine/re_plan_show_processs'] %>
<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), '<span class="re-bc-plan-show">Preview Plan</span>' %>

<div class="prepend-1 span-22 append-1">      
	<%= render '/re_plans/preview' %>
</div>	
