<%# set_re_javascript_include ['rules_engine/re_process_index', 'rules_engine/re_plan_show_processs'] %>
<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), '<span class="re-bc-plan-show">View Plan</span>' %>

<div class="span-17 border">      
	<div class="span-1">
		<div class="re-xtra-plan-title-single"><span>Plans</span></div>
	</div>	
	<div class="span-16 last">      
		<%= render '/re_plans/show' %>
		
		<div class="span-2 pull-1">
		 	<div class="re-xtra-workflow-title-plural"><span>Workflow</span></div>
		</div>
		<div class="span-15 last">
	 		<div class="re-infobox no-top">    	

	    	<%= render '/re_plans/workflow_empty', :re_plan => @re_plan %>    

		    <% @re_plan.re_workflows.each do |re_workflow | %>
		      <%= render '/re_plans/workflow_show', :re_plan => @re_plan, :re_workflow => re_workflow %>
		    <% end %>
	
				<div class="clear"></div>
			</div>	
	 	</div>  
		
	</div>
	<div class="clear"></div>
</div>  

<div class="span-7 last">      
	<div class="clear top-5"></div>

	<% if rules_engine_editor? %>
		<h4><%= link_to("Edit Plan", change_re_plan_path(@re_plan), :class => "re-menu-plan-change") %></h4>    
		<div class="clear top-5"></div>
	<% end %>

	<div class="clear top-5"></div>
	<hr/>
	<div class="clear top-5"></div>
	
	<h4>
		<div class="re-menu-plan-history">Published History</div>	
	</h4>
	<div class="clear top-5"></div>


	<div class="clear top-5"></div>
	<hr/>
	<div class="clear top-5"></div>

	<h4>
		<div class="re-menu-process-list">Process History</div>		
	</h4>
	<div class="clear top-5"></div>
</div>

<div class="clear"></div>
