<% set_re_breadcrumbs link_to("All Plans", re_plans_path, :class => "re-bc-plan-list"), 
											link_to("Edit Plan", change_re_plan_path(@re_plan), :class => "re-bc-plan-change"),
											link_to("Edit Workflow", change_re_plan_workflow_path(@re_plan, @re_workflow), :class => "re-bc-workflow-change"), 
											'<span class="re-bc-rule-help">Rule Help</span>'.html_safe %>

<div class="prepend-2 span-22 append-1">      
  <div class="re-infobox">
    <%= render '/re_workflow_rules/help', :cancel_path => change_re_plan_workflow_path(@re_plan, @re_workflow) %>
    <div class="clear"></div>
  </div>  
</div>  
<div class="clear"></div>